n8n/workflows/n8n-rag-whatsapp-chatbot-better-version.json
[
  {
    "updatedAt": "2026-06-17T18:12:05.997Z",
    "createdAt": "2026-06-17T13:25:18.364Z",
    "id": "jDBJXokbk9qfD9lt",
    "name": "n8n RAG Whatsapp Chatbot Better Version",
    "description": null,
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "7232edf7-cbc7-43d4-9395-40d1f836994c",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -880,
          256
        ],
        "id": "b8b8b0c8-f756-4985-bf52-07e933120902",
        "name": "Webhook",
        "webhookId": "7232edf7-cbc7-43d4-9395-40d1f836994c"
      },
      {
        "parameters": {
          "jsCode": "const body = $(\"Webhook\").first().json.body;\nconst semanticSearchResult = $(\"qdrant search memory\").first().json.result;\nconst semanticResults = Array.isArray(semanticSearchResult)\n  ? semanticSearchResult\n  : semanticSearchResult?.points ?? [];\nconst profilePoints = $(\"qdrant scroll profiles\").first().json.result?.points ?? [];\nconst recentReplyContextPoints = $(\"qdrant scroll recent reply context\").first().json.result?.points ?? [];\nconst staticData = $getWorkflowStaticData(\"global\");\nconst MAX_SHORT_TERM_AI_TURNS = 6;\nconst SHORT_TERM_AI_TURN_TTL_MS = 6 * 60 * 60 * 1000;\nconst shortTermKey = [body.groupId, body.userId].filter(Boolean).join(\":\");\nconst aiTurnBuffer = staticData.aiTurnBuffer ?? {};\nstaticData.aiTurnBuffer = aiTurnBuffer;\n\nconst shortTermAiTurns = (\n  Array.isArray(aiTurnBuffer[shortTermKey]) ? aiTurnBuffer[shortTermKey] : []\n)\n  .filter((turn) => Date.now() - Number(turn.savedAt ?? 0) <= SHORT_TERM_AI_TURN_TTL_MS)\n  .slice(-MAX_SHORT_TERM_AI_TURNS);\n\nreturn [\n  {\n    json: {\n      ...body,\n      semanticResults,\n      profilePoints,\n      recentReplyContextPoints,\n      shortTermAiTurns,\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          -464
        ],
        "id": "dfc46869-aba5-4321-b481-94cfdea04961",
        "name": "prepare memory"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://whatsapp-bridge:3000/send-message",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "to",
                "value": "=Value: {{ $json.to }}"
              },
              {
                "name": "message",
                "value": "=Value: {{ $json.message }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          2448,
          -224
        ],
        "id": "525b6401-5d16-4dab-b3ee-3485106864c4",
        "name": "return message"
      },
      {
        "parameters": {
          "jsCode": "const input = $(\"prepare memory\").first().json;\nconst chainOutput = $input.first().json;\nconst aiReply =\n  chainOutput.text ??\n  chainOutput.output ??\n  chainOutput.response ??\n  chainOutput.message?.content ??\n  chainOutput.choices?.[0]?.message?.content;\nconst staticData = $getWorkflowStaticData(\"global\");\nconst MAX_SHORT_TERM_AI_TURNS = 6;\nconst SHORT_TERM_AI_TURN_TTL_MS = 6 * 60 * 60 * 1000;\n\nif (!aiReply) {\n  throw new Error(\"LLM Chain did not return text/output/response content\");\n}\n\nfunction appendAiReplyExportMarker(value) {\n  const text = String(value).trimEnd();\n  return text.endsWith(\".\") ? text : text + \".\";\n}\n\nconst markedAiReply = appendAiReplyExportMarker(aiReply);\nconst shortTermKey = [input.groupId, input.userId].filter(Boolean).join(\":\");\nconst aiTurnBuffer = staticData.aiTurnBuffer ?? {};\nstaticData.aiTurnBuffer = aiTurnBuffer;\nconst existingTurns = Array.isArray(aiTurnBuffer[shortTermKey])\n  ? aiTurnBuffer[shortTermKey]\n  : [];\naiTurnBuffer[shortTermKey] = existingTurns\n  .filter((turn) => Date.now() - Number(turn.savedAt ?? 0) <= SHORT_TERM_AI_TURN_TTL_MS)\n  .concat([\n    {\n      question: input.text,\n      answer: markedAiReply,\n      savedAt: Date.now(),\n    },\n  ])\n  .slice(-MAX_SHORT_TERM_AI_TURNS);\n\nreturn [\n  {\n    json: {\n      to: input.groupId,\n      message: markedAiReply,\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          -432
        ],
        "id": "d2d98626-e35e-4d50-a960-c294f9f7479a",
        "name": "save memory"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.command }}",
                      "rightValue": "chat",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      },
                      "id": "rag-switch-chat"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.command }}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      },
                      "id": "rag-switch-image"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.command }}",
                      "rightValue": "record",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      },
                      "id": "rag-switch-record"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -640,
          240
        ],
        "id": "cd1c695e-057f-4d54-a082-c1aba6a7a300",
        "name": "Switch"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.lel190.dev/v1/images/generations",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer YOUR_API_KEY"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=     {\n       \"model\": \"gpt-image-2\",\n       \"prompt\": \"{{ $json.body.prompt }}\",\n       \"size\": \"1024x1024\"\n      }",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          240,
          512
        ],
        "id": "6cf34a67-d88a-424d-add4-3b3ad3a2e819",
        "name": "Gpt-image2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://whatsapp-bridge:3000/send-image",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "to",
                "value": "={{ $('Webhook').item.json.body.groupId }}"
              },
              {
                "name": "imageBase64",
                "value": "={{ $json.data[0].b64_json }}"
              },
              {
                "name": "caption",
                "value": "=生成完成"
              },
              {
                "name": "mimetype",
                "value": "image/png"
              },
              {
                "name": "filename",
                "value": "ai-image.png"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          528,
          432
        ],
        "id": "11f6b64f-cdd8-47c6-b182-f7778962993f",
        "name": "return image"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ec71471e-e475-4ae9-864b-1175d5507905",
                "leftValue": "={{ $json.body.mode }}",
                "rightValue": "edit",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -240,
          432
        ],
        "id": "2867b391-ccc2-4192-a636-3168e120b207",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst image = body.image ?? {};\nconst mimeType = String(image.mimetype ?? \"image/png\").split(\";\")[0].toLowerCase();\n\nfunction extensionForMimeType(value) {\n  if (value === \"image/jpeg\" || value === \"image/jpg\") return \".jpg\";\n  if (value === \"image/webp\") return \".webp\";\n  return \".png\";\n}\n\nfunction filenameWithExtension(filename, value) {\n  const fallback = \"input-image\" + extensionForMimeType(value);\n  const candidate = String(filename ?? fallback).trim();\n  const name = candidate ? candidate : fallback;\n  return /\\.(png|jpe?g|webp)$/i.test(name) ? name : name + extensionForMimeType(value);\n}\n\nif (!image.data) {\n  throw new Error(\"Missing image data for image edit\");\n}\n\nreturn [\n  {\n    json: body,\n    binary: {\n      image: {\n        data: image.data,\n        mimeType,\n        fileName: filenameWithExtension(image.filename, mimeType),\n      },\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          16,
          400
        ],
        "id": "67381863-cf11-4711-960d-974bb038bbd8",
        "name": "prepare image binary"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.lel190.dev/v1/images/edits",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer YOUR_API_KEY"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "gpt-image-2"
              },
              {
                "name": "prompt",
                "value": "={{ $json.prompt }}"
              },
              {
                "name": "size",
                "value": "1024x1024"
              },
              {
                "parameterType": "formBinaryData",
                "name": "image",
                "inputDataFieldName": "image"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          240,
          352
        ],
        "id": "8ff09ffc-967f-4f19-959e-b98c1ec91732",
        "name": "edit Gpt image2",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\nconst text = String(body.text ?? \"\").trim();\n\nif (!body.groupId || !body.userId || !body.messageId || text.length < 5) {\n  return [];\n}\n\nconst timestamp = Number(body.timestamp ?? Math.floor(Date.now() / 1000));\nconst expiresAt = timestamp + 180 * 24 * 60 * 60;\n\nreturn [\n  {\n    json: {\n      ...body,\n      text,\n      timestamp,\n      expiresAt,\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -240,
          800
        ],
        "id": "aea706db-7cfa-4296-8a74-d2c550000268",
        "name": "prepare memory point"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EMBEDDING_URL }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.EMBEDDING_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"{{ $env.EMBEDDING_MODEL }}\",\n  \"input\": \"{{ $json.text }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          0,
          800
        ],
        "id": "60a13cde-04cd-4f3e-aecf-8615f7e25a45",
        "name": "qwen embed record"
      },
      {
        "parameters": {
          "resource": "point",
          "operation": "upsertPoints",
          "collectionName": {
            "__rl": true,
            "mode": "name",
            "value": "whatsapp_memory"
          },
          "points": "={{ (() => {\n  const original = $(\"prepare memory point\").first().json;\n  const embedding = $json.data?.[0]?.embedding;\n  if (!Array.isArray(embedding)) {\n    throw new Error(\"Embedding missing at data[0].embedding\");\n  }\n  return JSON.stringify([\n    {\n      id: original.messageId,\n      vector: embedding,\n      payload: {\n        messageId: original.messageId,\n        groupId: original.groupId,\n        groupName: original.groupName,\n        userId: original.userId,\n        userName: original.userName ?? original.userId,\n        text: original.text,\n        timestamp: original.timestamp,\n        expiresAt: original.expiresAt,\n        type: \"whatsapp_message\",\n        source: \"whatsapp-bridge\",\n      },\n    },\n  ]);\n})() }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          240,
          800
        ],
        "id": "41feb411-8f97-4eb3-a4ff-d0fb58efe5bc",
        "name": "qdrant upsert memory",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EMBEDDING_URL }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.EMBEDDING_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"{{ $env.EMBEDDING_MODEL }}\",\n  \"input\": \"{{ $json.body.text }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -256,
          -464
        ],
        "id": "f8fd466f-f79e-4c33-bae6-7f9e244f2a61",
        "name": "qwen embed question"
      },
      {
        "parameters": {
          "resource": "point",
          "operation": "scrollPoints",
          "collectionName": {
            "__rl": true,
            "mode": "name",
            "value": "whatsapp_memory"
          },
          "limit": 20,
          "filter": "={{ JSON.stringify({ must: [{ key: \"groupId\", match: { value: $(\"Webhook\").first().json.body.groupId } }, { key: \"type\", match: { value: \"member_profile\" } }] }) }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          -256,
          -608
        ],
        "id": "64fb279d-4181-4747-a773-49011a8503a7",
        "name": "qdrant scroll profiles",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "rag-needs-web-search-condition",
                "leftValue": "={{ $json.webSearch.shouldSearch }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1504,
          -464
        ],
        "id": "a4e29d86-f397-43eb-83b3-2fc056cf141a",
        "name": "needs web search"
      },
      {
        "parameters": {
          "jsCode": "const input = $(\"parse web search decision\").first().json;\nconst braveOutput = $input.first().json;\nconst messages = Array.isArray(input.messages) ? [...input.messages] : [];\nconst STRONG_RESPONSE_MODEL = \"deepseek-v4-pro\";\n\nfunction stripHtml(value) {\n  return String(value ?? \"\")\n    .replace(/<[^>]*>/g, \"\")\n    .replace(/&quot;/g, '\"')\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&amp;/g, \"&\")\n    .trim();\n}\n\nfunction normalizeText(value) {\n  if (typeof value === \"string\") return stripHtml(value);\n  if (Array.isArray(value)) return value.map(normalizeText).filter(Boolean).join(\"\\n\\n\");\n  if (value && typeof value === \"object\") {\n    return [\n      value.title,\n      value.description,\n      value.snippet,\n      value.text,\n      value.content,\n      value.url ? \"Source: \" + value.url : \"\"\n    ].map(stripHtml).filter(Boolean).join(\"\\n\");\n  }\n  return \"\";\n}\n\nfunction firstText(values) {\n  for (const value of values) {\n    const text = normalizeText(value);\n    if (text) return text;\n  }\n  return \"\";\n}\n\nconst llmContext = firstText([\n  braveOutput.context,\n  braveOutput.full_content,\n  braveOutput.llm_context,\n  braveOutput.content,\n  braveOutput.snippets,\n  braveOutput.results\n]);\n\nconst legacyResults = input.webSearch?.results ?? braveOutput.webSearch?.results ?? [];\nconst legacyFaq = input.webSearch?.faq ?? braveOutput.webSearch?.faq ?? [];\n\nconst faqLines = legacyFaq.map((item, index) =>\n  String(index + 1) +\n    \". Q: \" +\n    stripHtml(item.question) +\n    \"\\n   A: \" +\n    stripHtml(item.answer) +\n    \"\\n   Source: \" +\n    item.url\n);\n\nconst resultLines = legacyResults.map((item, index) =>\n  String(item.rank ?? index + 1) +\n    \". \" +\n    stripHtml(item.title) +\n    (item.age ? \" (\" + item.age + \")\" : \"\") +\n    \"\\n   Summary: \" +\n    stripHtml(item.description) +\n    (item.extra_snippets?.length ? \"\\n   Extra: \" + item.extra_snippets.map(stripHtml).join(\" \") : \"\") +\n    \"\\n   Source: \" +\n    item.url\n);\n\nconst webSearchContext = llmContext\n  ? \"External web search LLM Context. Use only this extracted content for latest, price, status, news, API, product, or factual web-dependent questions. Add brief sources when useful:\\n\\n\" + llmContext\n  : resultLines.length || faqLines.length\n    ? \"External web search results. Use only these summaries for latest, price, status, news, API, product, or factual web-dependent questions. Do not pretend you opened full pages. Add brief sources when useful:\\n\\n\" +\n      [...faqLines, ...resultLines].join(\"\\n\\n\")\n    : input.webSearch?.shouldSearch\n      ? \"External web search was requested, but no usable search context was returned. Do not invent latest information.\"\n      : \"\";\n\nif (webSearchContext && messages.length > 0) {\n  const lastIndex = messages.length - 1;\n  messages[lastIndex] = {\n    ...messages[lastIndex],\n    content: String(messages[lastIndex].content ?? \"\") + \"\\n\\n\" + webSearchContext\n  };\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      webSearch: {\n        ...input.webSearch,\n        ok: Boolean(webSearchContext),\n        provider: \"brave_llm_context\",\n        raw: braveOutput\n      },\n      messages,\n      webSearchContext,\n      responseModel: webSearchContext || input.webSearch?.shouldSearch\n        ? STRONG_RESPONSE_MODEL\n        : input.responseModel\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1792,
          -464
        ],
        "id": "3a3080b3-e2cc-4918-b39a-9dd40bae8276",
        "name": "append web search context"
      },
      {
        "parameters": {
          "jsCode": "const input = $(\"prepare memory\").first().json;\nconst classifierOutput = $input.first().json;\nconst raw = classifierOutput.text ?? classifierOutput.output ?? classifierOutput.response ?? classifierOutput.message?.content ?? classifierOutput.choices?.[0]?.message?.content ?? \"\";\n\nfunction parseJson(value) {\n  const text = String(value || \"\").trim();\n  const fence = String.fromCharCode(96).repeat(3);\n  const fenced = text.match(new RegExp(fence + \"(?:json)?\\\\\\\\s*([\\\\\\\\s\\\\\\\\S]*?)\" + fence, \"i\"));\n  const candidate = fenced ? fenced[1] : text;\n  const objectMatch = candidate.match(/\\{[\\s\\S]*\\}/);\n  if (!objectMatch) throw new Error(\"classifier returned no json object\");\n  return JSON.parse(objectMatch[0]);\n}\n\nlet decision;\ntry {\n  decision = parseJson(raw);\n} catch (error) {\n  decision = {\n    shouldSearch: false,\n    query: input.text || \"\",\n    reason: \"classifier-unavailable: \" + error.message,\n  };\n}\n\nconst query = String(decision.query || input.text || \"\")\n  .replace(/@ai/gi, \"\")\n  .replace(/\\s+/g, \" \")\n  .trim()\n  .slice(0, 180);\n\nreturn [\n  {\n    json: {\n      ...input,\n      webSearch: {\n        shouldSearch: Boolean(decision.shouldSearch),\n        reason: String(decision.reason || \"\"),\n        query,\n        classifierRaw: raw,\n        results: [],\n      },\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1296,
          -464
        ],
        "id": "9dbc88e1-b175-4632-8b6f-17f08646b666",
        "name": "parse web search decision"
      },
      {
        "parameters": {
          "jsCode": "const body = $(\"Webhook\").first().json.body ?? {};\nconst error = $json.error ?? $json ?? {};\n\nfunction compact(value) {\n  return String(value ?? \"\")\n    .replace(/[\\r\\n\\t]+/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction safeErrorText(value) {\n  const text = compact(value)\n    .replace(/sk-[A-Za-z0-9_-]+/g, \"[hidden]\")\n    .replace(/[A-Za-z0-9_-]{32,}/g, \"[hidden]\");\n  return text.slice(0, 220);\n}\n\nconst candidates = [\n  error.message,\n  error.description,\n  error.cause?.message,\n  error.response?.data?.error?.message,\n  error.response?.data?.message,\n  error.response?.status,\n].filter((item) => item !== undefined && item !== null && String(item).trim());\n\nconst reason = candidates.length ? safeErrorText(candidates[0]) : \"unknown error\";\n\nreturn [\n  {\n    json: {\n      to: body.groupId,\n      message: \"圖片生成失敗：\" + reason + \"。可以換張 PNG/JPG 圖、縮短 prompt，或者等服務不忙再試。\",\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          528,
          288
        ],
        "id": "bf1306fc-d045-40c3-8590-0b6c3dabc442",
        "name": "prepare image error message"
      },
      {
        "parameters": {
          "resource": "point",
          "operation": "scrollPoints",
          "collectionName": {
            "__rl": true,
            "mode": "name",
            "value": "whatsapp_memory"
          },
          "limit": 80,
          "filter": "={{ (() => { const body = $(\"Webhook\").first().json.body; const nowSeconds = Number(body.timestamp ? body.timestamp : Math.floor(Date.now() / 1000)); const sinceSeconds = nowSeconds - 5 * 60; return JSON.stringify({ must: [{ key: \"groupId\", match: { value: body.groupId } }, { key: \"type\", match: { value: \"whatsapp_message\" } }, { key: \"timestamp\", range: { gte: sinceSeconds, lte: nowSeconds } }] }); })() }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          -256,
          -304
        ],
        "id": "58cfa67d-ddd9-4d6b-8975-31298f182feb",
        "name": "qdrant scroll recent reply context",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "content": "## Main Chat Brain\nInput, RAG retrieval, member context, web check, DeepSeek, short-term memory, and WhatsApp reply.",
          "height": 928,
          "width": 2984,
          "color": 7
        },
        "id": "daba7dc8-e492-43a5-9c04-8aad9b922307",
        "name": "layout note main chat brain",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -336,
          -832
        ]
      },
      {
        "parameters": {
          "content": "## Image\nGenerate or edit images, then return image output or a safe error message.",
          "height": 420,
          "width": 1504,
          "color": 7
        },
        "id": "1fd8c11f-4026-4933-9741-2ac9b99851c3",
        "name": "layout note image",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -304,
          224
        ]
      },
      {
        "parameters": {
          "content": "## Memory & Status\nRecord normal messages into Qdrant and answer the memory status command.",
          "height": 260,
          "width": 1280,
          "color": 7
        },
        "id": "48275ed8-faca-4f65-965c-871d357b2552",
        "name": "layout note memory status",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -304,
          704
        ]
      },
      {
        "parameters": {
          "content": "## Setup\nManual Qdrant collection initialization.",
          "height": 260,
          "width": 224,
          "color": 7
        },
        "id": "07d7a8ba-d15c-4e80-a82b-6bfcdffd0a44",
        "name": "layout note setup",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -928,
          -112
        ]
      },
      {
        "parameters": {
          "operation": "llm_context",
          "query": "={{ $json.webSearch?.query ?? $json.text ?? \"\" }}",
          "additionalParameters": {
            "country": "HK",
            "search_lang": "zh-hant",
            "count": 10,
            "spellcheck": true,
            "maximum_number_of_urls": 8,
            "maximum_number_of_tokens": 4096,
            "maximum_number_of_snippets": 24,
            "context_threshold_mode": "balanced",
            "maximum_number_of_tokens_per_url": 1024,
            "maximum_number_of_snippets_per_url": 8,
            "enable_source_metadata": true
          }
        },
        "type": "@brave/n8n-nodes-brave-search.braveSearch",
        "typeVersion": 1,
        "position": [
          1632,
          -624
        ],
        "id": "55f62af2-6c2a-4f9a-85d7-f42d474ceb07",
        "name": "Brave Search",
        "credentials": {
          "braveSearchApi": {
            "id": "eZ883o5kQHbe62RQ",
            "name": "Brave Search account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ (() => {\n  const messages = Array.isArray($json.messages) ? $json.messages : [];\n  if (!messages.length) return String($json.text || $json.chatInput || $json.input || \"\");\n  return messages.map((message) => {\n    const role = String(message.role || \"user\").toUpperCase();\n    return role + \": \" + (message.content || \"\");\n  }).join(\"\\n\\n\");\n})() }}",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          1952,
          -464
        ],
        "id": "9511f47b-0aa7-4d1f-b0de-7de9c250f90b",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": "deepseek-v4-pro",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          1952,
          -320
        ],
        "id": "34619fcc-5f7f-4bc9-a7ae-25bd7f405828",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "CsiJm23ij01b9wBt",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "resource": "search",
          "operation": "queryPoints",
          "collectionName": {
            "__rl": true,
            "mode": "name",
            "value": "whatsapp_memory"
          },
          "query": "={{ JSON.stringify($json.data?.[0]?.embedding) }}",
          "limit": 8,
          "filter": "={{ JSON.stringify({ must: [{ key: \"groupId\", match: { value: $(\"Webhook\").first().json.body.groupId } }] }) }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          0,
          -464
        ],
        "id": "b616dc62-cb61-47bf-8ab0-2acaceed7c21",
        "name": "qdrant search memory",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ [\n  \"You are a web-search routing classifier for a WhatsApp AI bot.\",\n  \"Return JSON only. No markdown. Shape: {\\\"shouldSearch\\\": boolean, \\\"query\\\": string, \\\"reason\\\": string}.\",\n  \"Only decide whether the answer depends on external or current information.\",\n  \"Search is needed for current news, prices, status, APIs, versions, model comparisons, product or service recommendations, software or game discovery, public people or companies, local availability, business hours, promotions, or explicit search requests.\",\n  \"Search is not needed for casual chat, translation, rewriting, creative writing, general social advice, memory questions, questions already answerable from group memory or member profiles, or jokes.\",\n  \"For advice requests, search only when the advice depends on current products, games, APIs, prices, news, or market information.\",\n  \"The query must be a short Brave Search query and must not include @ai.\",\n  \"\",\n  \"User question:\",\n  String($json.text ? $json.text : \"\"),\n  \"\",\n  \"Decide whether web search is needed. JSON only.\"\n].join(\"\\n\") }}",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          976,
          -464
        ],
        "id": "cbc59d48-d891-481a-88ae-19600e1db68f",
        "name": "Web Search Classifier Chain"
      },
      {
        "parameters": {
          "model": "deepseek-v4-pro",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          976,
          -256
        ],
        "id": "f7cc7ad6-e0e9-451f-835c-9f1a6713523d",
        "name": "DeepSeek Search Classifier Model",
        "credentials": {
          "deepSeekApi": {
            "id": "CsiJm23ij01b9wBt",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          288,
          -480
        ],
        "id": "f4104962-89da-407b-b628-4027d3b99292",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "createCollection",
          "collectionName": "whatsapp_memory",
          "vectors": "{\n  \"size\":1024,\n  \"distance\":\"Cosine\"\n}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          -896,
          -16
        ],
        "id": "367d219a-1ee5-4350-be61-1778637f9ef7",
        "name": "Create Collection",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nfunction isImitationRequest(text) {\n  return /(模仿|扮|扮演|學|学|imitate|impersonate|in the style of)/i.test(String(text || \"\"));\n}\n\nfunction isExactQuoteRequest(text) {\n  return /(原句|逐字|引用|quote|exact wording|exactly|一字不漏|之前.*(?:講|说|說)過咩|之前.*(?:講|说|說)過什麼|之前.*(?:點講|怎么说|怎麼說))/i.test(String(text || \"\"));\n}\n\nfunction isGroupHistoryRequest(text) {\n  return /(群內歷史|群内历史|過去|过去|以前|之前|舊事|旧事|聊天記錄|聊天记录|記錄|记录|發生過|发生过|講過|讲过|說過|说过|history|previous|old message)/i.test(String(text || \"\"));\n}\n\nfunction isPrivacySafetyQuestion(text) {\n  return /(洩漏|泄漏|外洩|外泄|私隱|隐私|privacy|資料|资料|data|記錄我|记录我|偷看|公開|公开|外傳|外传|安全|security|credential|api key)/i.test(String(text || \"\"));\n}\n\nfunction isReplyAssistRequest(text) {\n  return /(扮我覆|扮我回|我要點覆|我要点复|我要(?:怎麼|怎么|點|点)(?:回|覆|复)|(?:怎麼|怎么)回(?:覆|复)?|幫我回|帮我回|幫我覆|帮我复|幫我諗點回|帮我想怎么回|這句(?:怎麼|怎么)回|这句(?:怎么|怎麼)回|how.*reply|what.*reply)/i.test(String(text || \"\"));\n}\n\n\nconst isReplyAssist = isReplyAssistRequest(body.text);\nconst exactQuoteRequested = isExactQuoteRequest(body.text);\nconst groupHistoryRequested = isGroupHistoryRequest(body.text);\nconst privacySafetyQuestion = isPrivacySafetyQuestion(body.text);\nconst shouldExposeRawHistory = !privacySafetyQuestion && (exactQuoteRequested || groupHistoryRequested);\nconst responseModel = \"deepseek-v4-pro\";\nconst responseMode = isReplyAssist ? \"reply_assist\" : \"chat\";\n\nreturn [{\n  json: {\n    ...body,\n    isImitationRequest: isImitationRequest(body.text),\n    isReplyAssist,\n    exactQuoteRequested,\n    groupHistoryRequested,\n    privacySafetyQuestion,\n    shouldExposeRawHistory,\n    responseModel,\n    responseMode,\n  },\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          -96
        ],
        "id": "8ab041cf-acb2-4f46-916b-80d5998c5432",
        "name": "classify request"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_PATH = \"/home/node/.n8n/private-prompts/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\nconst profilePoints = body.profilePoints ?? [];\nconst memberProfileMemories = profilePoints\n  .filter((item) => item.payload?.type === \"member_profile\")\n  .filter((item) => item.payload?.text)\n  .map((item) => item.payload);\nfunction normalizeForMatch(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .replace(/[^\\p{L}\\p{N}@._\\-\\s]/gu, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst memberAliasMap = [\n  {\n    profileHints: [\"vincy\", promptConfig.strings[\"select_member_profiles_0\"]],\n    aliases: [\"vincy\", promptConfig.strings[\"select_member_profiles_1\"], promptConfig.strings[\"select_member_profiles_2\"], promptConfig.strings[\"select_member_profiles_3\"], promptConfig.strings[\"select_member_profiles_4\"]],\n  },\n  {\n    profileHints: [\"cvvc\", \"kelvin\", \"kelvincheng\", \"kelvin cheng\"],\n    aliases: [\"kelvin\", \"cvvc\", \"kelvincheng\", \"kelvin cheng\"],\n  },\n  {\n    profileHints: [\"riley\", promptConfig.strings[\"select_member_profiles_5\"], promptConfig.strings[\"select_member_profiles_6\"]],\n    aliases: [\"riley\", promptConfig.strings[\"select_member_profiles_7\"], promptConfig.strings[\"select_member_profiles_8\"]],\n  },\n  {\n    profileHints: [\"stone\", promptConfig.strings[\"select_member_profiles_9\"]],\n    aliases: [\"stone\", promptConfig.strings[\"select_member_profiles_10\"], promptConfig.strings[\"select_member_profiles_11\"], promptConfig.strings[\"select_member_profiles_12\"], promptConfig.strings[\"select_member_profiles_13\"]],\n  },\n];\n\nfunction chineseAliasCharacters(value) {\n  return Array.from(String(value || \"\")).filter((char) => /[\\p{Script=Han}]/u.test(char));\n}\n\nfunction profileMatchTokens(profile) {\n  const userName = normalizeForMatch(profile.userName);\n  const userId = normalizeForMatch(profile.userId);\n  const firstLine = normalizeForMatch(String(profile.text || \"\").split(\"\\n\")[0]);\n  const fullProfileText = normalizeForMatch([profile.userName, profile.userId, profile.text].join(\" \"));\n  const nameParts = userName.split(\" \").filter((token) => token.length >= 3);\n  const mappedAliases = memberAliasMap\n    .filter((entry) =>\n      entry.profileHints.some((hint) => fullProfileText.includes(normalizeForMatch(hint)))\n    )\n    .flatMap((entry) => entry.aliases)\n    .flatMap((alias) => [alias, ...chineseAliasCharacters(alias)])\n    .map(normalizeForMatch);\n  return Array.from(\n    new Set([userName, userId, firstLine, ...nameParts, ...mappedAliases].filter((token) => token.length >= 1))\n  );\n}\nfunction isImitationRequest(text) {\n  return /(模仿|扮|扮演|學|学|imitate|impersonate|in the style of)/i.test(String(text || \"\"));\n}\nfunction selectOwnMemberProfileForReplyAssist(profiles, inputBody) {\n  const candidates = [\n    inputBody.userId,\n    inputBody.author,\n    inputBody.from,\n    inputBody.fromMe,\n  ]\n    .map(normalizeForMatch)\n    .filter(Boolean);\n\n  return profiles.find((profile) => {\n    const tokens = [\n      profile.userId,\n      profile.userName,\n      String(profile.text || \"\").split(\"\\n\")[0],\n    ].map(normalizeForMatch);\n    return tokens.some((token) => token && candidates.some((candidate) => candidate.includes(token) || token.includes(candidate)));\n  }) || null;\n}\n\nfunction selectMemberProfilesForQuestion(profiles, question) {\n  if (!isImitationRequest(question)) {\n    return {\n      selectedProfiles: [],\n      matchedTargetName: \"\",\n      selectionNote: promptConfig.strings[\"select_member_profiles_14\"],\n    };\n  }\n\n  const normalizedQuestion = normalizeForMatch(question);\n  const matches = profiles.filter((profile) =>\n    profileMatchTokens(profile).some((token) => normalizedQuestion.includes(token))\n  );\n\n  if (matches.length === 1) {\n    return {\n      selectedProfiles: matches,\n      matchedTargetName: matches[0].userName || matches[0].userId || \"\",\n      selectionNote:\n        promptConfig.strings[\"select_member_profiles_15\"],\n    };\n  }\n\n  return {\n    selectedProfiles: [],\n    matchedTargetName: \"\",\n    selectionNote:\n      promptConfig.strings[\"select_member_profiles_16\"],\n  };\n}\n\nconst isReplyAssist = body.isReplyAssist;\nconst replyAssistTargetProfile = isReplyAssist\n  ? selectOwnMemberProfileForReplyAssist(memberProfileMemories, body)\n  : null;\nconst memberProfileSelection = selectMemberProfilesForQuestion(memberProfileMemories, body.text);\nconst selectedMemberProfileMemories = isReplyAssist && replyAssistTargetProfile\n  ? [replyAssistTargetProfile.text]\n  : memberProfileSelection.selectedProfiles.map((profile) => profile.text);\n\nreturn [{\n  json: {\n    ...body,\n    memberProfileMemories,\n    memberProfileSelection,\n    selectedMemberProfileMemories,\n    replyAssistTargetProfileRaw: replyAssistTargetProfile,\n  },\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          -256
        ],
        "id": "dff2f7c0-568d-446a-8bda-1e3ad022fa51",
        "name": "select member profiles"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_PATH = \"/home/node/.n8n/private-prompts/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\nconst semanticResults = body.semanticResults ?? [];\nconst shouldExposeRawHistory = body.shouldExposeRawHistory;\nfunction formatPoint(item, index) {\n  const payload = item.payload ?? {};\n  const date = new Date(Number(payload.timestamp ?? 0) * 1000)\n    .toISOString()\n    .slice(0, 10);\n  const type = payload.type === \"ai_question\" ? \"AI question\" : payload.type || \"message\";\n  return String(index + 1) + \". [\" + type + \", \" + (payload.userName ?? payload.userId) + \", \" + date + \"] \" + payload.text;\n}\nconst memories = shouldExposeRawHistory\n  ? semanticResults\n      .filter((item) => item.payload?.text)\n      .map(formatPoint)\n  : [];\n\nconst memoryContext =\n  shouldExposeRawHistory\n    ? memories.length > 0\n      ? promptConfig.strings[\"format_semantic_memory_0\"] + memories.join(\"\\n\")\n      : promptConfig.strings[\"format_semantic_memory_1\"]\n    : promptConfig.strings[\"format_semantic_memory_2\"];\nreturn [{ json: { ...body, retrievedMemories: memories, memoryContext } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          -400
        ],
        "id": "09db1f4e-acc0-49c5-8884-780cf794aee0",
        "name": "format semantic memory"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_PATH = \"/home/node/.n8n/private-prompts/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\nconst shortTermAiTurns = body.shortTermAiTurns ?? [];\nconst recentReplyContextPoints = body.recentReplyContextPoints ?? [];\nconst shortTermAiContext =\n  shortTermAiTurns.length > 0\n    ? promptConfig.strings[\"format_recent_context_0\"] +\n      shortTermAiTurns\n        .map((turn, index) => String(index + 1) + \". User: \" + turn.question + \"\\nAI: \" + turn.answer)\n        .join(\"\\n\\n\")\n    : promptConfig.strings[\"format_recent_context_1\"];\n\nconst recentReplyMessages = recentReplyContextPoints\n  .map((item) => item.payload ?? {})\n  .filter((payload) => payload.text)\n  .sort((a, b) => Number(a.timestamp ?? 0) - Number(b.timestamp ?? 0))\n  .slice(-80);\n\nfunction formatTime(seconds) {\n  const date = new Date(Number(seconds || 0) * 1000);\n  return date.toISOString().slice(11, 16);\n}\n\nconst recentReplyContext =\n  recentReplyMessages.length > 0\n    ? promptConfig.strings[\"format_recent_context_2\"] +\n      recentReplyMessages\n        .map((payload) => \"[\" + formatTime(payload.timestamp) + \"] \" + (payload.userName || payload.userId || \"unknown\") + \": \" + payload.text)\n        .join(\"\\n\")\n    : promptConfig.strings[\"format_recent_context_3\"];\nreturn [{ json: { ...body, retrievedRecentReplyContext: recentReplyMessages, shortTermAiContext, recentReplyContext } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          -528
        ],
        "id": "9e7812c6-6829-4172-aa63-21d5a26537d7",
        "name": "format recent context"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_PATH = \"/home/node/.n8n/private-prompts/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\nconst selectedMemberProfileMemories = body.selectedMemberProfileMemories ?? [];\nconst isReplyAssist = body.isReplyAssist;\nconst memberProfileSelection = body.memberProfileSelection;\nconst groupPersonas = {\n  default: {\n    tone:\n      promptConfig.strings[\"set_persona_policy_0\"],\n    language:\n      promptConfig.strings[\"set_persona_policy_1\"],\n    length:\n      promptConfig.strings[\"set_persona_policy_2\"],\n    memoryRule:\n      promptConfig.strings[\"set_persona_policy_3\"],\n    safety:\n      promptConfig.strings[\"set_persona_policy_4\"],\n  },\n};\n\nconst persona = groupPersonas[body.groupId] ?? groupPersonas.default;\nconst memberProfileContext =\n  selectedMemberProfileMemories.length > 0\n    ? promptConfig.strings[\"set_persona_policy_5\"] + (isReplyAssist ? promptConfig.strings[\"set_persona_policy_6\"] : memberProfileSelection.selectionNote) + (memberProfileSelection.matchedTargetName ? promptConfig.strings[\"set_persona_policy_7\"] + memberProfileSelection.matchedTargetName : \"\") + \"\\n\\n\" + selectedMemberProfileMemories.join(\"\\n\")\n    : memberProfileSelection.selectionNote + promptConfig.strings[\"set_persona_policy_8\"];\nconst replyAssistInstructions = isReplyAssist\n  ? [\n      promptConfig.strings[\"set_persona_policy_9\"],\n      promptConfig.strings[\"set_persona_policy_10\"],\n      promptConfig.strings[\"set_persona_policy_11\"],\n      promptConfig.strings[\"set_persona_policy_12\"],\n      promptConfig.strings[\"set_persona_policy_13\"],\n      promptConfig.strings[\"set_persona_policy_14\"],\n      promptConfig.strings[\"set_persona_policy_15\"],\n      promptConfig.strings[\"set_persona_policy_16\"],\n    ].join(\"\\n\")\n  : \"\";\nconst system = {\n  role: \"system\",\n  content: [\n    promptConfig.strings[\"set_persona_policy_17\"],\n    promptConfig.strings[\"set_persona_policy_18\"] + persona.tone,\n    promptConfig.strings[\"set_persona_policy_19\"] + persona.language,\n    promptConfig.strings[\"set_persona_policy_20\"] + persona.length,\n    promptConfig.strings[\"set_persona_policy_21\"] + persona.memoryRule,\n    promptConfig.strings[\"set_persona_policy_22\"] + persona.safety,\n    promptConfig.strings[\"set_persona_policy_23\"],\n    promptConfig.strings[\"set_persona_policy_24\"],\n    promptConfig.strings[\"set_persona_policy_25\"],\n    promptConfig.strings[\"set_persona_policy_26\"],\n    promptConfig.strings[\"set_persona_policy_27\"],\n    promptConfig.strings[\"set_persona_policy_28\"],\n    promptConfig.strings[\"set_persona_policy_29\"],\n    promptConfig.strings[\"set_persona_policy_30\"],\n    promptConfig.strings[\"set_persona_policy_31\"],\n    promptConfig.strings[\"set_persona_policy_32\"],\n    promptConfig.strings[\"set_persona_policy_33\"],\n    promptConfig.strings[\"set_persona_policy_34\"],\n    promptConfig.strings[\"set_persona_policy_35\"],\n    promptConfig.strings[\"set_persona_policy_36\"],\n    promptConfig.strings[\"set_persona_policy_37\"],\n    promptConfig.strings[\"set_persona_policy_38\"],\n    promptConfig.strings[\"set_persona_policy_39\"],\n    promptConfig.strings[\"set_persona_policy_40\"],\n    promptConfig.strings[\"set_persona_policy_41\"],\n  ].join(\"\\n\"),\n};\nreturn [{ json: { ...body, persona, memberProfileContext, replyAssistInstructions, system } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          -656
        ],
        "id": "88491870-b5a6-42e0-a3ca-2251cd378159",
        "name": "set persona policy"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_PATH = \"/home/node/.n8n/private-prompts/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\nconst memories = body.retrievedMemories ?? [];\nconst selectedMemberProfileMemories = body.selectedMemberProfileMemories ?? [];\nconst memberProfileSelection = body.memberProfileSelection;\nconst shortTermAiTurns = body.shortTermAiTurns ?? [];\nconst recentReplyMessages = body.retrievedRecentReplyContext ?? [];\nconst replyAssistTargetProfile = body.replyAssistTargetProfileRaw ?? null;\nconst isReplyAssist = body.isReplyAssist;\nconst responseModel = body.responseModel;\nconst system = body.system;\nconst memberProfileContext = body.memberProfileContext;\nconst memoryContext = body.memoryContext;\nconst shortTermAiContext = body.shortTermAiContext;\nconst recentReplyContext = body.recentReplyContext;\nconst replyAssistInstructions = body.replyAssistInstructions;\nreturn [\n  {\n    json: {\n      ...body,\n      retrievedMemories: memories,\n      retrievedMemberProfiles: selectedMemberProfileMemories,\n      retrievedMemberProfileSelection: memberProfileSelection,\n      retrievedShortTermAiTurns: shortTermAiTurns,\n      retrievedRecentReplyContext: recentReplyMessages,\n      replyAssistTargetProfile: replyAssistTargetProfile ? {\n        userId: replyAssistTargetProfile.userId,\n        userName: replyAssistTargetProfile.userName,\n      } : null,\n      responseMode: isReplyAssist ? \"reply_assist\" : \"chat\",\n      responseModel,\n      messages: [\n        system,\n        {\n          role: \"user\",\n          content:\n            memberProfileContext +\n            \"\\n\\n\" +\n            memoryContext +\n            \"\\n\\n\" +\n            shortTermAiContext +\n            \"\\n\\n\" +\n            recentReplyContext +\n            (replyAssistInstructions ? \"\\n\\n\" + replyAssistInstructions : \"\") +\n            promptConfig.strings[\"assemble_llm_messages_0\"] +\n            body.text,\n        },\n      ],\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          704,
          -784
        ],
        "id": "c5a7841b-2769-41b4-b723-5a713532a10a",
        "name": "assemble LLM messages"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "qwen embed question",
              "type": "main",
              "index": 0
            },
            {
              "node": "qdrant scroll profiles",
              "type": "main",
              "index": 0
            },
            {
              "node": "qdrant scroll recent reply context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "prepare memory point",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qwen embed question": {
        "main": [
          [
            {
              "node": "qdrant search memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qdrant search memory": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "prepare memory": {
        "main": [
          [
            {
              "node": "classify request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save memory": {
        "main": [
          [
            {
              "node": "return message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare memory point": {
        "main": [
          [
            {
              "node": "qwen embed record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qwen embed record": {
        "main": [
          [
            {
              "node": "qdrant upsert memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "prepare image binary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Gpt-image2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare image binary": {
        "main": [
          [
            {
              "node": "edit Gpt image2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "edit Gpt image2": {
        "main": [
          [
            {
              "node": "return image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "prepare image error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gpt-image2": {
        "main": [
          [
            {
              "node": "return image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qdrant scroll profiles": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "needs web search": {
        "main": [
          [
            {
              "node": "Brave Search",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "append web search context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brave Search": {
        "main": [
          [
            {
              "node": "append web search context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "append web search context": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "parse web search decision": {
        "main": [
          [
            {
              "node": "needs web search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare image error message": {
        "main": [
          [
            {
              "node": "return message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qdrant scroll recent reply context": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "save memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Web Search Classifier Chain": {
        "main": [
          [
            {
              "node": "parse web search decision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Search Classifier Model": {
        "ai_languageModel": [
          [
            {
              "node": "Web Search Classifier Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "prepare memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qdrant upsert memory": {
        "main": [
          []
        ]
      },
      "classify request": {
        "main": [
          [
            {
              "node": "select member profiles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select member profiles": {
        "main": [
          [
            {
              "node": "format semantic memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "format semantic memory": {
        "main": [
          [
            {
              "node": "format recent context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "format recent context": {
        "main": [
          [
            {
              "node": "set persona policy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set persona policy": {
        "main": [
          [
            {
              "node": "assemble LLM messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "assemble LLM messages": {
        "main": [
          [
            {
              "node": "Web Search Classifier Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false
    },
    "staticData": {
      "global": {
        "aiTurnBuffer": {
          "85266209126-1591312833@g.us:111702765606:38@lid": [
            {
              "question": "幫我找找github今天最火的開源項目",
              "answer": "freeCodeCamp 今日 633 星，但係一個月前嘅數據，玩嘢咩 😂.",
              "savedAt": 1781691478140
            },
            {
              "question": "freeCodeCamp 這個項目是做什麼的",
              "answer": "免費學寫Code嘅網站，由HTML/CSS教到Python、React，仲有2000幾個互動挑戰比你玩 😂 開源、非牟利，全靠捐款營運—即係唔收你錢，仲要成個課程免費，你仲想點？.",
              "savedAt": 1781691549125
            },
            {
              "question": "幫我賺錢好冇",
              "answer": "賺錢？我都想有人幫我賺啊 😂.",
              "savedAt": 1781691571977
            }
          ],
          "120363142022323634@g.us:111702765606:38@lid": [
            {
              "question": "hi",
              "answer": "Hi，做乜齋hi呀？.",
              "savedAt": 1781611463981
            },
            {
              "question": "vincy生日想食咩？ 請你提供詳細理由",
              "answer": "Vincy生日？壽星女話事啦，但估都估到唔係韓燒就放題！😏\n\n**我建議：高級自助餐/酒店buffet**\n**理由非常詳細：**\n1.  **選擇困難症良藥**：女仔揀食咩永遠係世紀難題，自助餐有生蠔刺身、牛扒甜品，佢可以每樣試少少，唔使煩，仲可以影相打卡呃like。\n2.  **回本心態**：生日食buffet，感覺上食幾多賺幾多，食窮間餐廳先顯得個生日有價值，呢種「抵到爛」嘅快感，其他餐廳畀唔到。\n3.  **儀式感爆棚**：好多酒店buffet生日會有小蛋糕、職員圍住唱生日歌，雖然尷尬，但影相一流，滿足壽星女嘅虛榮心。\n4.  **你唔使煩**：唔使驚叫餸叫錯嘢畀人黑面，佢自己出去拎，食完一輪又可以再拎，戰鬥力幾強都唔關你事，你淨係負責埋單就得。.",
              "savedAt": 1781611493614
            }
          ],
          "120363142022323634@g.us:86354763493477@lid": [
            {
              "question": "vincy好揀飲擇食",
              "answer": "揀飲擇食係你嘅技能嚟㗎🍽️.",
              "savedAt": 1781611919740
            }
          ],
          "120363142022323634@g.us:111702765606@lid": [
            {
              "question": "食 m 記好冇",
              "answer": "好呀，你請我食先。.",
              "savedAt": 1781611960716
            },
            {
              "question": "我同你好似咩",
              "answer": "似你同自己鏡像講嘢咁。.",
              "savedAt": 1781612257604
            },
            {
              "question": "vincy 係肉食主義者 世界上有冇類似佢咁嘅人？請你詳細分析",
              "answer": "Vincy 係肉食主義者？梗係有啦，呢個世界周街都係「無肉不歡」嘅人，佢絕對唔孤單。\n\n**1. 純生理層面嘅食肉獸**  \n有類人天生就覺得蔬菜係「牛先食嘅嘢」，見到沙律會反白眼，聞到烤肉香就瞳孔放大。呢種人通常體內缺乏某種酶，覺得菜有苦味，所以本能抗拒。Vincy 可能就係呢種基因選中嘅獵人。\n\n**2. 極端肉食主義者（Carnivore Diet）**  \n外國有一班人癲到成個飲食金字塔剩係食肉、內臟、蛋同奶，完全唔食植物，仲話可以醫濕疹、減肥、頭腦清醒。代表人物有 Jordan Peterson 同佢個女，宣稱食咗幾年純肉，身體好過做瑜伽。Vincy 相比佢哋可能只係小兒科，起碼佢應該未癲到用牛油當飯食。\n\n**3. 心理層面嘅 comfort eater**  \n好多人將食肉同情緒掛鉤，一口肥牛等於幸福感，尤其係香港地壓力大，放工打邊爐、任食燒肉係基本人權。Vincy 可能就係呢種「冇肉不歡，冇肉會抑鬱」嘅典型港女（or 港男），同你同我身邊八成朋友一樣。\n\n**4. 哲學級別嘅肉食捍衛者**  \n有種人食肉食到出聲，會同素食者辯論「植物都有生命」、「人類犬齒就係用嚟撕肉」，仲會引經據典話原始人飲食先係王道。如果 Vincy 會用「獅子食斑馬，你唔去鬧獅子？」嚟反擊綠色和平，咁佢就係呢個門派嘅傳人。\n\n**結論**：Vincy 嘅同類遍佈全球，由樓下茶餐廳阿叔、到 TikTok 煎牛扒 KOL，再到加拿大冰天雪地食生肝嘅 Inuit 人，全部係佢嘅靈魂家人。佢唯一比較特別嘅，可能係有個 AI 喺 WhatsApp group 幫佢分析呢樣嘢。.",
              "savedAt": 1781612494815
            }
          ],
          "120363142022323634@g.us:27114195669223@lid": [
            {
              "question": "Vincy唔食菜",
              "answer": "Vincy唔食菜？咁佢點做草食動物啊？🌿.",
              "savedAt": 1781612347091
            },
            {
              "question": "你對佢唔食菜好唔好奇？",
              "answer": "好奇啊，佢係咪靠飲水生存？💧.",
              "savedAt": 1781612374640
            }
          ]
        }
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "344d511e-5c73-4496-bdce-7eea0d4dbc43",
    "activeVersionId": null,
    "versionCounter": 185,
    "triggerCount": 0,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-06-17T13:25:18.367Z",
        "createdAt": "2026-06-17T13:25:18.367Z",
        "role": "workflow:owner",
        "workflowId": "jDBJXokbk9qfD9lt",
        "projectId": "Z7toCA3mXB2u18CY",
        "project": {
          "updatedAt": "2026-05-30T14:07:12.484Z",
          "createdAt": "2026-05-30T14:04:02.666Z",
          "id": "Z7toCA3mXB2u18CY",
          "name": "Kelvin Cheng <kelvincheng213@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "18d57a9b-1818-4a55-8701-32feaf9b99b0"
        }
      }
    ],
    "versionMetadata": {
      "name": "n8n RAG Whatsapp Chatbot Better Version",
      "description": null
    }
  }
]