n8n/workflows/workflows.json
[
  {
    "updatedAt": "2026-06-21T12:38:02.162Z",
    "createdAt": "2026-06-17T13:25:18.364Z",
    "id": "jDBJXokbk9qfD9lt",
    "name": "n8n RAG Whatsapp Chatbot Better Version",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp-trigger",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -880,
          256
        ],
        "id": "b8b8b0c8-f756-4985-bf52-07e933120902",
        "name": "Webhook",
        "webhookId": "7232edf7-cbc7-43d4-9395-40d1f836994c"
      },
      {
        "parameters": {
          "jsCode": "const body = $(\"Webhook\").first().json.body;\n\nlet combinedRouting = {};\ntry {\n  combinedRouting = $(\"parse combined routing\").first().json ?? {};\n} catch (_err) {\n  combinedRouting = {};\n}\n\nconst rerankedSemanticResults = combinedRouting.semanticResults ?? [];\nconst semanticSearchResult = $(\"qdrant search memory\").first().json.result;\nconst originalSemanticResults = Array.isArray(semanticSearchResult)\n  ? semanticSearchResult\n  : semanticSearchResult?.points ?? [];\n\nconst hasRerankedResults = Array.isArray(rerankedSemanticResults) ? rerankedSemanticResults.length > 0 : false;\nconst semanticResults = hasRerankedResults ? rerankedSemanticResults : originalSemanticResults;\n\nconst webSearch = combinedRouting.webSearch ?? {\n  shouldSearch: false,\n  query: body.text ?? \"\",\n  reason: \"combined-router-unavailable\",\n  results: [],\n};\n\nconst profilePoints = $(\"qdrant scroll profiles\").first().json.result?.points ?? [];\nconst recentReplyContextPoints = $(\"qdrant scroll recent reply context\").first().json.result?.points ?? [];\n\nconst staticData = $getWorkflowStaticData(\"global\");\nconst MAX_SHORT_TERM_AI_TURNS = 6;\nconst SHORT_TERM_AI_TURN_TTL_MS = 6 * 60 * 60 * 1000;\nconst shortTermKey = [body.groupId, body.userId].filter(Boolean).join(\":\");\nconst aiTurnBuffer = staticData.aiTurnBuffer ?? {};\nstaticData.aiTurnBuffer = aiTurnBuffer;\n\nconst shortTermAiTurns = (\n  Array.isArray(aiTurnBuffer[shortTermKey]) ? aiTurnBuffer[shortTermKey] : []\n)\n  .filter((turn) => Date.now() - Number(turn.savedAt ?? 0) <= SHORT_TERM_AI_TURN_TTL_MS)\n  .slice(-MAX_SHORT_TERM_AI_TURNS);\n\nreturn [\n  {\n    json: {\n      ...body,\n      semanticResults,\n      profilePoints,\n      recentReplyContextPoints,\n      shortTermAiTurns,\n      webSearch,\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          432,
          -432
        ],
        "id": "dfc46869-aba5-4321-b481-94cfdea04961",
        "name": "prepare memory"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://whatsapp-bridge:3000/send-message",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "to",
                "value": "=Value: {{ $json.to }}"
              },
              {
                "name": "message",
                "value": "=Value: {{ $json.message }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1856,
          -176
        ],
        "id": "525b6401-5d16-4dab-b3ee-3485106864c4",
        "name": "return message"
      },
      {
        "parameters": {
          "jsCode": "const input = $(\"prepare memory\").first().json;\nconst chainOutput = $input.first().json;\nconst aiReply =\n  chainOutput.text ??\n  chainOutput.output ??\n  chainOutput.response ??\n  chainOutput.message?.content ??\n  chainOutput.choices?.[0]?.message?.content;\nconst staticData = $getWorkflowStaticData(\"global\");\nconst MAX_SHORT_TERM_AI_TURNS = 6;\nconst SHORT_TERM_AI_TURN_TTL_MS = 6 * 60 * 60 * 1000;\n\nif (!aiReply) {\n  throw new Error(\"LLM Chain did not return text/output/response content\");\n}\n\nfunction appendAiReplyExportMarker(value) {\n  const text = String(value).trimEnd();\n  return text.endsWith(\".\") ? text : text + \".\";\n}\n\nconst markedAiReply = appendAiReplyExportMarker(aiReply);\nconst shortTermKey = [input.groupId, input.userId].filter(Boolean).join(\":\");\nconst aiTurnBuffer = staticData.aiTurnBuffer ?? {};\nstaticData.aiTurnBuffer = aiTurnBuffer;\nconst existingTurns = Array.isArray(aiTurnBuffer[shortTermKey])\n  ? aiTurnBuffer[shortTermKey]\n  : [];\naiTurnBuffer[shortTermKey] = existingTurns\n  .filter((turn) => Date.now() - Number(turn.savedAt ?? 0) <= SHORT_TERM_AI_TURN_TTL_MS)\n  .concat([\n    {\n      question: input.text,\n      answer: markedAiReply,\n      savedAt: Date.now(),\n    },\n  ])\n  .slice(-MAX_SHORT_TERM_AI_TURNS);\n\nreturn [\n  {\n    json: {\n      to: input.groupId,\n      message: markedAiReply,\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1648,
          -384
        ],
        "id": "d2d98626-e35e-4d50-a960-c294f9f7479a",
        "name": "save memory"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.command }}",
                      "rightValue": "chat",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      },
                      "id": "rag-switch-chat"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.command }}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      },
                      "id": "rag-switch-image"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.body.command }}",
                      "rightValue": "record",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      },
                      "id": "rag-switch-record"
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -640,
          240
        ],
        "id": "cd1c695e-057f-4d54-a082-c1aba6a7a300",
        "name": "Switch"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.lel190.dev/v1/images/generations",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer YOUR_API_KEY"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=     {\n       \"model\": \"gpt-image-2\",\n       \"prompt\": \"{{ $json.body.prompt }}\",\n       \"size\": \"1024x1024\"\n      }",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          208,
          384
        ],
        "id": "6cf34a67-d88a-424d-add4-3b3ad3a2e819",
        "name": "Gpt-image2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://whatsapp-bridge:3000/send-image",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "to",
                "value": "={{ $('Webhook').item.json.body.groupId }}"
              },
              {
                "name": "imageBase64",
                "value": "={{ $json.data[0].b64_json }}"
              },
              {
                "name": "caption",
                "value": "=生成完成"
              },
              {
                "name": "mimetype",
                "value": "image/png"
              },
              {
                "name": "filename",
                "value": "ai-image.png"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          496,
          304
        ],
        "id": "11f6b64f-cdd8-47c6-b182-f7778962993f",
        "name": "return image"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "ec71471e-e475-4ae9-864b-1175d5507905",
                "leftValue": "={{ $json.body.mode }}",
                "rightValue": "edit",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -272,
          304
        ],
        "id": "2867b391-ccc2-4192-a636-3168e120b207",
        "name": "If"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst image = body.image ?? {};\nconst mimeType = String(image.mimetype ?? \"image/png\").split(\";\")[0].toLowerCase();\n\nfunction extensionForMimeType(value) {\n  if (value === \"image/jpeg\" || value === \"image/jpg\") return \".jpg\";\n  if (value === \"image/webp\") return \".webp\";\n  return \".png\";\n}\n\nfunction filenameWithExtension(filename, value) {\n  const fallback = \"input-image\" + extensionForMimeType(value);\n  const candidate = String(filename ?? fallback).trim();\n  const name = candidate ? candidate : fallback;\n  return /\\.(png|jpe?g|webp)$/i.test(name) ? name : name + extensionForMimeType(value);\n}\n\nif (!image.data) {\n  throw new Error(\"Missing image data for image edit\");\n}\n\nreturn [\n  {\n    json: body,\n    binary: {\n      image: {\n        data: image.data,\n        mimeType,\n        fileName: filenameWithExtension(image.filename, mimeType),\n      },\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -16,
          272
        ],
        "id": "67381863-cf11-4711-960d-974bb038bbd8",
        "name": "prepare image binary"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.lel190.dev/v1/images/edits",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer YOUR_API_KEY"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "gpt-image-2"
              },
              {
                "name": "prompt",
                "value": "={{ $json.prompt }}"
              },
              {
                "name": "size",
                "value": "1024x1024"
              },
              {
                "parameterType": "formBinaryData",
                "name": "image",
                "inputDataFieldName": "image"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          208,
          224
        ],
        "id": "8ff09ffc-967f-4f19-959e-b98c1ec91732",
        "name": "edit Gpt image2",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body;\nconst text = String(body.text ?? \"\").trim();\n\nif (!body.groupId || !body.userId || !body.messageId || text.length < 5) {\n  return [];\n}\n\nconst timestamp = Number(body.timestamp ?? Math.floor(Date.now() / 1000));\nconst expiresAt = timestamp + 180 * 24 * 60 * 60;\n\nreturn [\n  {\n    json: {\n      ...body,\n      text,\n      timestamp,\n      expiresAt,\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -256,
          624
        ],
        "id": "aea706db-7cfa-4296-8a74-d2c550000268",
        "name": "prepare memory point"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EMBEDDING_URL }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.EMBEDDING_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"{{ $env.EMBEDDING_MODEL }}\",\n  \"input\": \"{{ $json.text }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -16,
          624
        ],
        "id": "60a13cde-04cd-4f3e-aecf-8615f7e25a45",
        "name": "qwen embed record"
      },
      {
        "parameters": {
          "resource": "point",
          "operation": "upsertPoints",
          "collectionName": {
            "__rl": true,
            "mode": "name",
            "value": "whatsapp_memory"
          },
          "points": "={{ (() => {\n  const original = $(\"prepare memory point\").first().json;\n  const embedding = $json.data?.[0]?.embedding;\n  if (!Array.isArray(embedding)) {\n    throw new Error(\"Embedding missing at data[0].embedding\");\n  }\n  return JSON.stringify([\n    {\n      id: original.messageId,\n      vector: embedding,\n      payload: {\n        messageId: original.messageId,\n        groupId: original.groupId,\n        groupName: original.groupName,\n        userId: original.userId,\n        userName: original.userName ?? original.userId,\n        text: original.text,\n        timestamp: original.timestamp,\n        expiresAt: original.expiresAt,\n        type: \"whatsapp_message\",\n        source: \"whatsapp-bridge\",\n      },\n    },\n  ]);\n})() }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          224,
          624
        ],
        "id": "41feb411-8f97-4eb3-a4ff-d0fb58efe5bc",
        "name": "qdrant upsert memory",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.EMBEDDING_URL }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "={{ \"Bearer \" + $env.EMBEDDING_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"{{ $env.EMBEDDING_MODEL }}\",\n  \"input\": \"{{ $json.body.text }}\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -480,
          -464
        ],
        "id": "f8fd466f-f79e-4c33-bae6-7f9e244f2a61",
        "name": "qwen embed question"
      },
      {
        "parameters": {
          "resource": "point",
          "operation": "scrollPoints",
          "collectionName": {
            "__rl": true,
            "mode": "name",
            "value": "whatsapp_memory"
          },
          "limit": 20,
          "filter": "={{ JSON.stringify({ must: [{ key: \"groupId\", match: { value: $(\"Webhook\").first().json.body.groupId } }, { key: \"type\", match: { value: \"member_profile\" } }] }) }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          -224,
          -608
        ],
        "id": "64fb279d-4181-4747-a773-49011a8503a7",
        "name": "qdrant scroll profiles",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "rag-needs-web-search-condition",
                "leftValue": "={{ $json.webSearch.shouldSearch }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          912,
          -416
        ],
        "id": "a4e29d86-f397-43eb-83b3-2fc056cf141a",
        "name": "needs web search"
      },
      {
        "parameters": {
          "jsCode": "const input = $(\"parse web search decision\").first().json;\nconst braveOutput = $input.first().json;\nconst messages = Array.isArray(input.messages) ? [...input.messages] : [];\nconst STRONG_RESPONSE_MODEL = \"deepseek-v4-pro\";\n\nfunction stripHtml(value) {\n  return String(value ?? \"\")\n    .replace(/<[^>]*>/g, \"\")\n    .replace(/&quot;/g, '\"')\n    .replace(/&#x27;/g, \"'\")\n    .replace(/&amp;/g, \"&\")\n    .trim();\n}\n\nfunction normalizeText(value) {\n  if (typeof value === \"string\") return stripHtml(value);\n  if (Array.isArray(value)) return value.map(normalizeText).filter(Boolean).join(\"\\n\\n\");\n  if (value && typeof value === \"object\") {\n    return [\n      value.title,\n      value.description,\n      value.snippet,\n      value.text,\n      value.content,\n      value.url ? \"Source: \" + value.url : \"\"\n    ].map(stripHtml).filter(Boolean).join(\"\\n\");\n  }\n  return \"\";\n}\n\nfunction firstText(values) {\n  for (const value of values) {\n    const text = normalizeText(value);\n    if (text) return text;\n  }\n  return \"\";\n}\n\nconst llmContext = firstText([\n  braveOutput.context,\n  braveOutput.full_content,\n  braveOutput.llm_context,\n  braveOutput.content,\n  braveOutput.snippets,\n  braveOutput.results\n]);\n\nconst legacyResults = input.webSearch?.results ?? braveOutput.webSearch?.results ?? [];\nconst legacyFaq = input.webSearch?.faq ?? braveOutput.webSearch?.faq ?? [];\n\nconst faqLines = legacyFaq.map((item, index) =>\n  String(index + 1) +\n    \". Q: \" +\n    stripHtml(item.question) +\n    \"\\n   A: \" +\n    stripHtml(item.answer) +\n    \"\\n   Source: \" +\n    item.url\n);\n\nconst resultLines = legacyResults.map((item, index) =>\n  String(item.rank ?? index + 1) +\n    \". \" +\n    stripHtml(item.title) +\n    (item.age ? \" (\" + item.age + \")\" : \"\") +\n    \"\\n   Summary: \" +\n    stripHtml(item.description) +\n    (item.extra_snippets?.length ? \"\\n   Extra: \" + item.extra_snippets.map(stripHtml).join(\" \") : \"\") +\n    \"\\n   Source: \" +\n    item.url\n);\n\nconst webSearchContext = llmContext\n  ? \"External web search LLM Context. Use only this extracted content for latest, price, status, news, API, product, or factual web-dependent questions. Add brief sources when useful:\\n\\n\" + llmContext\n  : resultLines.length || faqLines.length\n    ? \"External web search results. Use only these summaries for latest, price, status, news, API, product, or factual web-dependent questions. Do not pretend you opened full pages. Add brief sources when useful:\\n\\n\" +\n      [...faqLines, ...resultLines].join(\"\\n\\n\")\n    : input.webSearch?.shouldSearch\n      ? \"External web search was requested, but no usable search context was returned. Do not invent latest information.\"\n      : \"\";\n\nif (webSearchContext && messages.length > 0) {\n  const lastIndex = messages.length - 1;\n  messages[lastIndex] = {\n    ...messages[lastIndex],\n    content: String(messages[lastIndex].content ?? \"\") + \"\\n\\n\" + webSearchContext\n  };\n}\n\nreturn [\n  {\n    json: {\n      ...input,\n      webSearch: {\n        ...input.webSearch,\n        ok: Boolean(webSearchContext),\n        provider: \"brave_llm_context\",\n        raw: braveOutput\n      },\n      messages,\n      webSearchContext,\n      responseModel: webSearchContext || input.webSearch?.shouldSearch\n        ? STRONG_RESPONSE_MODEL\n        : input.responseModel\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          -416
        ],
        "id": "3a3080b3-e2cc-4918-b39a-9dd40bae8276",
        "name": "append web search context"
      },
      {
        "parameters": {
          "jsCode": "const body = $(\"Webhook\").first().json.body ?? {};\nconst error = $json.error ?? $json ?? {};\n\nfunction compact(value) {\n  return String(value ?? \"\")\n    .replace(/[\\r\\n\\t]+/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction safeErrorText(value) {\n  const text = compact(value)\n    .replace(/sk-[A-Za-z0-9_-]+/g, \"[hidden]\")\n    .replace(/[A-Za-z0-9_-]{32,}/g, \"[hidden]\");\n  return text.slice(0, 220);\n}\n\nconst candidates = [\n  error.message,\n  error.description,\n  error.cause?.message,\n  error.response?.data?.error?.message,\n  error.response?.data?.message,\n  error.response?.status,\n].filter((item) => item !== undefined && item !== null && String(item).trim());\n\nconst reason = candidates.length ? safeErrorText(candidates[0]) : \"unknown error\";\n\nreturn [\n  {\n    json: {\n      to: body.groupId,\n      message: \"圖片生成失敗：\" + reason + \"。可以換張 PNG/JPG 圖、縮短 prompt，或者等服務不忙再試。\",\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          496,
          160
        ],
        "id": "bf1306fc-d045-40c3-8590-0b6c3dabc442",
        "name": "prepare image error message"
      },
      {
        "parameters": {
          "resource": "point",
          "operation": "scrollPoints",
          "collectionName": {
            "__rl": true,
            "mode": "name",
            "value": "whatsapp_memory"
          },
          "limit": 80,
          "filter": "={{ (() => { const body = $(\"Webhook\").first().json.body; const nowSeconds = Number(body.timestamp ? body.timestamp : Math.floor(Date.now() / 1000)); const sinceSeconds = nowSeconds - 5 * 60; return JSON.stringify({ must: [{ key: \"groupId\", match: { value: body.groupId } }, { key: \"type\", match: { value: \"whatsapp_message\" } }, { key: \"timestamp\", range: { gte: sinceSeconds, lte: nowSeconds } }] }); })() }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          -224,
          -304
        ],
        "id": "58cfa67d-ddd9-4d6b-8975-31298f182feb",
        "name": "qdrant scroll recent reply context",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "content": "## Main Chat Brain\nInput, RAG retrieval, member context, web check, DeepSeek, short-term memory, and WhatsApp reply.",
          "height": 928,
          "width": 2424,
          "color": 7
        },
        "id": "daba7dc8-e492-43a5-9c04-8aad9b922307",
        "name": "layout note main chat brain",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -336,
          -832
        ]
      },
      {
        "parameters": {
          "content": "## Image\nGenerate or edit images, then return image output or a safe error message.",
          "height": 420,
          "width": 1504,
          "color": 7
        },
        "id": "1fd8c11f-4026-4933-9741-2ac9b99851c3",
        "name": "layout note image",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -336,
          96
        ]
      },
      {
        "parameters": {
          "content": "## Memory & Status\nRecord normal messages into Qdrant and answer the memory status command.",
          "height": 260,
          "width": 784,
          "color": 7
        },
        "id": "48275ed8-faca-4f65-965c-871d357b2552",
        "name": "layout note memory status",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -336,
          528
        ]
      },
      {
        "parameters": {
          "content": "## Setup\nManual Qdrant collection initialization.",
          "height": 260,
          "width": 224,
          "color": 7
        },
        "id": "07d7a8ba-d15c-4e80-a82b-6bfcdffd0a44",
        "name": "layout note setup",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -896,
          448
        ]
      },
      {
        "parameters": {
          "operation": "llm_context",
          "query": "={{ $json.webSearch?.query ?? $json.text ?? \"\" }}",
          "additionalParameters": {
            "country": "HK",
            "search_lang": "zh-hant",
            "count": 10,
            "spellcheck": true,
            "maximum_number_of_urls": 8,
            "maximum_number_of_tokens": 4096,
            "maximum_number_of_snippets": 24,
            "context_threshold_mode": "balanced",
            "maximum_number_of_tokens_per_url": 1024,
            "maximum_number_of_snippets_per_url": 8,
            "enable_source_metadata": true
          }
        },
        "type": "@brave/n8n-nodes-brave-search.braveSearch",
        "typeVersion": 1,
        "position": [
          1040,
          -576
        ],
        "id": "55f62af2-6c2a-4f9a-85d7-f42d474ceb07",
        "name": "Brave Search",
        "credentials": {
          "braveSearchApi": {
            "id": "eZ883o5kQHbe62RQ",
            "name": "Brave Search account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ (() => {\n  const messages = Array.isArray($json.messages) ? $json.messages : [];\n  if (!messages.length) return String($json.text || $json.chatInput || $json.input || \"\");\n  return messages.map((message) => {\n    const role = String(message.role || \"user\").toUpperCase();\n    return role + \": \" + (message.content || \"\");\n  }).join(\"\\n\\n\");\n})() }}",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          1360,
          -416
        ],
        "id": "9511f47b-0aa7-4d1f-b0de-7de9c250f90b",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "model": "deepseek-v4-pro",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          1360,
          -192
        ],
        "id": "34619fcc-5f7f-4bc9-a7ae-25bd7f405828",
        "name": "DeepSeek Chat Model",
        "credentials": {
          "deepSeekApi": {
            "id": "CsiJm23ij01b9wBt",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "resource": "search",
          "operation": "queryPoints",
          "collectionName": {
            "__rl": true,
            "mode": "name",
            "value": "whatsapp_memory"
          },
          "query": "={{ JSON.stringify($json.data?.[0]?.embedding) }}",
          "limit": 20,
          "filter": "={{ JSON.stringify({ must: [{ key: \"groupId\", match: { value: $(\"Webhook\").first().json.body.groupId } }] }) }}",
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          -224,
          -464
        ],
        "id": "b616dc62-cb61-47bf-8ab0-2acaceed7c21",
        "name": "qdrant search memory",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "numberInputs": 3,
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3.2,
        "position": [
          272,
          -448
        ],
        "id": "f4104962-89da-407b-b628-4027d3b99292",
        "name": "Merge"
      },
      {
        "parameters": {
          "operation": "createCollection",
          "collectionName": "whatsapp_memory",
          "vectors": "{\n  \"size\":1024,\n  \"distance\":\"Cosine\"\n}",
          "shardNumber": {},
          "replicationFactor": {},
          "writeConsistencyFactor": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-qdrant.qdrant",
        "typeVersion": 1,
        "position": [
          -864,
          544
        ],
        "id": "367d219a-1ee5-4350-be61-1778637f9ef7",
        "name": "Create Collection",
        "credentials": {
          "qdrantRestApi": {
            "id": "qdrantLocalRestApi",
            "name": "Local Qdrant REST"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nfunction isImitationRequest(text) {\n  return /(模仿|扮|扮演|學|学|imitate|impersonate|in the style of)/i.test(String(text || \"\"));\n}\n\nfunction isExactQuoteRequest(text) {\n  return /(原句|逐字|引用|quote|exact wording|exactly|一字不漏|之前.*(?:講|说|說)過咩|之前.*(?:講|说|說)過什麼|之前.*(?:點講|怎么说|怎麼說))/i.test(String(text || \"\"));\n}\n\nfunction isGroupHistoryRequest(text) {\n  return /(群內歷史|群内历史|過去|过去|以前|之前|舊事|旧事|聊天記錄|聊天记录|記錄|记录|發生過|发生过|講過|讲过|說過|说过|history|previous|old message)/i.test(String(text || \"\"));\n}\n\nfunction isPrivacySafetyQuestion(text) {\n  return /(洩漏|泄漏|外洩|外泄|私隱|隐私|privacy|資料|资料|data|記錄我|记录我|偷看|公開|公开|外傳|外传|安全|security|credential|api key)/i.test(String(text || \"\"));\n}\n\nfunction isReplyAssistRequest(text) {\n  return /(扮我覆|扮我回|我要點覆|我要点复|我要(?:怎麼|怎么|點|点)(?:回|覆|复)|(?:怎麼|怎么)回(?:覆|复)?|幫我回|帮我回|幫我覆|帮我复|幫我諗點回|帮我想怎么回|這句(?:怎麼|怎么)回|这句(?:怎么|怎麼)回|how.*reply|what.*reply)/i.test(String(text || \"\"));\n}\n\n\nconst isReplyAssist = isReplyAssistRequest(body.text);\nconst exactQuoteRequested = isExactQuoteRequest(body.text);\nconst groupHistoryRequested = isGroupHistoryRequest(body.text);\nconst privacySafetyQuestion = isPrivacySafetyQuestion(body.text);\nconst shouldExposeRawHistory = !privacySafetyQuestion && (exactQuoteRequested || groupHistoryRequested);\nconst responseModel = \"deepseek-v4-pro\";\nconst responseMode = isReplyAssist ? \"reply_assist\" : \"chat\";\n\nreturn [{\n  json: {\n    ...body,\n    isImitationRequest: isImitationRequest(body.text),\n    isReplyAssist,\n    exactQuoteRequested,\n    groupHistoryRequested,\n    privacySafetyQuestion,\n    shouldExposeRawHistory,\n    responseModel,\n    responseMode,\n  },\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -64
        ],
        "id": "8ab041cf-acb2-4f46-916b-80d5998c5432",
        "name": "classify request"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_DIR = \"/home/node/.n8n/private-prompts\";\nconst PROMPTS_PATH = PROMPTS_DIR + \"/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\n\nfunction parsePromptMarkdownSections(text) {\n  const sections = {};\n  let currentKey = \"\";\n  for (const line of String(text || \"\").split(/\\r?\\n/)) {\n    const match = line.match(/^##\\s+([A-Za-z0-9_:-]+)\\s*$/);\n    if (match) {\n      currentKey = match[1];\n      sections[currentKey] = \"\";\n      continue;\n    }\n    if (currentKey) {\n      sections[currentKey] += (sections[currentKey] ? \"\\n\" : \"\") + line;\n    }\n  }\n  return Object.fromEntries(\n    Object.entries(sections).map(([key, value]) => [key, value.trim()])\n  );\n}\n\nfor (const fileName of [\n  \"member-profile-selection.md\",\n  \"semantic-memory.md\",\n  \"recent-context.md\",\n  \"persona-policy.md\",\n]) {\n  const filePath = PROMPTS_DIR + \"/\" + fileName;\n  if (fs.existsSync(filePath)) {\n    Object.assign(\n      promptConfig.strings,\n      parsePromptMarkdownSections(fs.readFileSync(filePath, \"utf8\"))\n    );\n  }\n}\nconst profilePoints = body.profilePoints ?? [];\nconst memberProfileMemories = profilePoints\n  .filter((item) => item.payload?.type === \"member_profile\")\n  .filter((item) => item.payload?.text)\n  .map((item) => item.payload);\nfunction normalizeForMatch(value) {\n  return String(value || \"\")\n    .toLowerCase()\n    .replace(/[^\\p{L}\\p{N}@._\\-\\s]/gu, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nconst memberAliasMap = [\n  {\n    profileHints: [\"vincy\", promptConfig.strings[\"select_member_profiles_0\"]],\n    aliases: [\"vincy\", promptConfig.strings[\"select_member_profiles_1\"], promptConfig.strings[\"select_member_profiles_2\"], promptConfig.strings[\"select_member_profiles_3\"], promptConfig.strings[\"select_member_profiles_4\"]],\n  },\n  {\n    profileHints: [\"cvvc\", \"kelvin\", \"kelvincheng\", \"kelvin cheng\"],\n    aliases: [\"kelvin\", \"cvvc\", \"kelvincheng\", \"kelvin cheng\"],\n  },\n  {\n    profileHints: [\"riley\", promptConfig.strings[\"select_member_profiles_5\"], promptConfig.strings[\"select_member_profiles_6\"]],\n    aliases: [\"riley\", promptConfig.strings[\"select_member_profiles_7\"], promptConfig.strings[\"select_member_profiles_8\"]],\n  },\n  {\n    profileHints: [\"stone\", promptConfig.strings[\"select_member_profiles_9\"]],\n    aliases: [\"stone\", promptConfig.strings[\"select_member_profiles_10\"], promptConfig.strings[\"select_member_profiles_11\"], promptConfig.strings[\"select_member_profiles_12\"], promptConfig.strings[\"select_member_profiles_13\"]],\n  },\n];\n\nfunction chineseAliasCharacters(value) {\n  return Array.from(String(value || \"\")).filter((char) => /[\\p{Script=Han}]/u.test(char));\n}\n\nfunction profileMatchTokens(profile) {\n  const userName = normalizeForMatch(profile.userName);\n  const userId = normalizeForMatch(profile.userId);\n  const firstLine = normalizeForMatch(String(profile.text || \"\").split(\"\\n\")[0]);\n  const fullProfileText = normalizeForMatch([profile.userName, profile.userId, profile.text].join(\" \"));\n  const nameParts = userName.split(\" \").filter((token) => token.length >= 3);\n  const mappedAliases = memberAliasMap\n    .filter((entry) =>\n      entry.profileHints.some((hint) => fullProfileText.includes(normalizeForMatch(hint)))\n    )\n    .flatMap((entry) => entry.aliases)\n    .flatMap((alias) => [alias, ...chineseAliasCharacters(alias)])\n    .map(normalizeForMatch);\n  return Array.from(\n    new Set([userName, userId, firstLine, ...nameParts, ...mappedAliases].filter((token) => token.length >= 1))\n  );\n}\nfunction isImitationRequest(text) {\n  return /(模仿|扮|扮演|學|学|imitate|impersonate|in the style of)/i.test(String(text || \"\"));\n}\nfunction selectOwnMemberProfileForReplyAssist(profiles, inputBody) {\n  const candidates = [\n    inputBody.userId,\n    inputBody.author,\n    inputBody.from,\n    inputBody.fromMe,\n  ]\n    .map(normalizeForMatch)\n    .filter(Boolean);\n\n  return profiles.find((profile) => {\n    const tokens = [\n      profile.userId,\n      profile.userName,\n      String(profile.text || \"\").split(\"\\n\")[0],\n    ].map(normalizeForMatch);\n    return tokens.some((token) => token && candidates.some((candidate) => candidate.includes(token) || token.includes(candidate)));\n  }) || null;\n}\n\nfunction selectMemberProfilesForQuestion(profiles, question) {\n  if (!isImitationRequest(question)) {\n    return {\n      selectedProfiles: [],\n      matchedTargetName: \"\",\n      selectionNote: promptConfig.strings[\"select_member_profiles_14\"],\n    };\n  }\n\n  const normalizedQuestion = normalizeForMatch(question);\n  const matches = profiles.filter((profile) =>\n    profileMatchTokens(profile).some((token) => normalizedQuestion.includes(token))\n  );\n\n  if (matches.length === 1) {\n    return {\n      selectedProfiles: matches,\n      matchedTargetName: matches[0].userName || matches[0].userId || \"\",\n      selectionNote:\n        promptConfig.strings[\"select_member_profiles_15\"],\n    };\n  }\n\n  return {\n    selectedProfiles: [],\n    matchedTargetName: \"\",\n    selectionNote:\n      promptConfig.strings[\"select_member_profiles_16\"],\n  };\n}\n\nconst isReplyAssist = body.isReplyAssist;\nconst replyAssistTargetProfile = isReplyAssist\n  ? selectOwnMemberProfileForReplyAssist(memberProfileMemories, body)\n  : null;\nconst memberProfileSelection = selectMemberProfilesForQuestion(memberProfileMemories, body.text);\nconst selectedMemberProfileMemories = isReplyAssist && replyAssistTargetProfile\n  ? [replyAssistTargetProfile.text]\n  : memberProfileSelection.selectedProfiles.map((profile) => profile.text);\n\nreturn [{\n  json: {\n    ...body,\n    memberProfileMemories,\n    memberProfileSelection,\n    selectedMemberProfileMemories,\n    replyAssistTargetProfileRaw: replyAssistTargetProfile,\n  },\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -208
        ],
        "id": "dff2f7c0-568d-446a-8bda-1e3ad022fa51",
        "name": "select member profiles"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_DIR = \"/home/node/.n8n/private-prompts\";\nconst PROMPTS_PATH = PROMPTS_DIR + \"/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\n\nfunction parsePromptMarkdownSections(text) {\n  const sections = {};\n  let currentKey = \"\";\n  for (const line of String(text || \"\").split(/\\r?\\n/)) {\n    const match = line.match(/^##\\s+([A-Za-z0-9_:-]+)\\s*$/);\n    if (match) {\n      currentKey = match[1];\n      sections[currentKey] = \"\";\n      continue;\n    }\n    if (currentKey) {\n      sections[currentKey] += (sections[currentKey] ? \"\\n\" : \"\") + line;\n    }\n  }\n  return Object.fromEntries(\n    Object.entries(sections).map(([key, value]) => [key, value.trim()])\n  );\n}\n\nfor (const fileName of [\n  \"member-profile-selection.md\",\n  \"semantic-memory.md\",\n  \"recent-context.md\",\n  \"persona-policy.md\",\n]) {\n  const filePath = PROMPTS_DIR + \"/\" + fileName;\n  if (fs.existsSync(filePath)) {\n    Object.assign(\n      promptConfig.strings,\n      parsePromptMarkdownSections(fs.readFileSync(filePath, \"utf8\"))\n    );\n  }\n}\nconst semanticResults = body.semanticResults ?? [];\nconst shouldExposeRawHistory = body.shouldExposeRawHistory;\nfunction formatPoint(item, index) {\n  const payload = item.payload ?? {};\n  const date = new Date(Number(payload.timestamp ?? 0) * 1000)\n    .toISOString()\n    .slice(0, 10);\n  const type = payload.type === \"ai_question\" ? \"AI question\" : payload.type || \"message\";\n  return String(index + 1) + \". [\" + type + \", \" + (payload.userName ?? payload.userId) + \", \" + date + \"] \" + payload.text;\n}\nconst memories = shouldExposeRawHistory\n  ? semanticResults\n      .filter((item) => item.payload?.text)\n      .map(formatPoint)\n  : [];\n\nconst memoryContext =\n  shouldExposeRawHistory\n    ? memories.length > 0\n      ? promptConfig.strings[\"format_semantic_memory_0\"] + memories.join(\"\\n\")\n      : promptConfig.strings[\"format_semantic_memory_1\"]\n    : promptConfig.strings[\"format_semantic_memory_2\"];\nreturn [{ json: { ...body, retrievedMemories: memories, memoryContext } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -368
        ],
        "id": "09db1f4e-acc0-49c5-8884-780cf794aee0",
        "name": "format semantic memory"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_DIR = \"/home/node/.n8n/private-prompts\";\nconst PROMPTS_PATH = PROMPTS_DIR + \"/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\n\nfunction parsePromptMarkdownSections(text) {\n  const sections = {};\n  let currentKey = \"\";\n  for (const line of String(text || \"\").split(/\\r?\\n/)) {\n    const match = line.match(/^##\\s+([A-Za-z0-9_:-]+)\\s*$/);\n    if (match) {\n      currentKey = match[1];\n      sections[currentKey] = \"\";\n      continue;\n    }\n    if (currentKey) {\n      sections[currentKey] += (sections[currentKey] ? \"\\n\" : \"\") + line;\n    }\n  }\n  return Object.fromEntries(\n    Object.entries(sections).map(([key, value]) => [key, value.trim()])\n  );\n}\n\nfor (const fileName of [\n  \"member-profile-selection.md\",\n  \"semantic-memory.md\",\n  \"recent-context.md\",\n  \"persona-policy.md\",\n]) {\n  const filePath = PROMPTS_DIR + \"/\" + fileName;\n  if (fs.existsSync(filePath)) {\n    Object.assign(\n      promptConfig.strings,\n      parsePromptMarkdownSections(fs.readFileSync(filePath, \"utf8\"))\n    );\n  }\n}\nconst shortTermAiTurns = body.shortTermAiTurns ?? [];\nconst recentReplyContextPoints = body.recentReplyContextPoints ?? [];\nconst shortTermAiContext =\n  shortTermAiTurns.length > 0\n    ? promptConfig.strings[\"format_recent_context_0\"] +\n      shortTermAiTurns\n        .map((turn, index) => String(index + 1) + \". User: \" + turn.question + \"\\nAI: \" + turn.answer)\n        .join(\"\\n\\n\")\n    : promptConfig.strings[\"format_recent_context_1\"];\n\nconst recentReplyMessages = recentReplyContextPoints\n  .map((item) => item.payload ?? {})\n  .filter((payload) => payload.text)\n  .sort((a, b) => Number(a.timestamp ?? 0) - Number(b.timestamp ?? 0))\n  .slice(-80);\n\nfunction formatTime(seconds) {\n  const date = new Date(Number(seconds || 0) * 1000);\n  return date.toISOString().slice(11, 16);\n}\n\nconst recentReplyContext =\n  recentReplyMessages.length > 0\n    ? promptConfig.strings[\"format_recent_context_2\"] +\n      recentReplyMessages\n        .map((payload) => \"[\" + formatTime(payload.timestamp) + \"] \" + (payload.userName || payload.userId || \"unknown\") + \": \" + payload.text)\n        .join(\"\\n\")\n    : promptConfig.strings[\"format_recent_context_3\"];\nreturn [{ json: { ...body, retrievedRecentReplyContext: recentReplyMessages, shortTermAiContext, recentReplyContext } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -496
        ],
        "id": "9e7812c6-6829-4172-aa63-21d5a26537d7",
        "name": "format recent context"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_DIR = \"/home/node/.n8n/private-prompts\";\nconst PROMPTS_PATH = PROMPTS_DIR + \"/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\n\nfunction parsePromptMarkdownSections(text) {\n  const sections = {};\n  let currentKey = \"\";\n  for (const line of String(text || \"\").split(/\\r?\\n/)) {\n    const match = line.match(/^##\\s+([A-Za-z0-9_:-]+)\\s*$/);\n    if (match) {\n      currentKey = match[1];\n      sections[currentKey] = \"\";\n      continue;\n    }\n    if (currentKey) {\n      sections[currentKey] += (sections[currentKey] ? \"\\n\" : \"\") + line;\n    }\n  }\n  return Object.fromEntries(\n    Object.entries(sections).map(([key, value]) => [key, value.trim()])\n  );\n}\n\nfor (const fileName of [\n  \"member-profile-selection.md\",\n  \"semantic-memory.md\",\n  \"recent-context.md\",\n  \"persona-policy.md\",\n]) {\n  const filePath = PROMPTS_DIR + \"/\" + fileName;\n  if (fs.existsSync(filePath)) {\n    Object.assign(\n      promptConfig.strings,\n      parsePromptMarkdownSections(fs.readFileSync(filePath, \"utf8\"))\n    );\n  }\n}\nconst selectedMemberProfileMemories = body.selectedMemberProfileMemories ?? [];\nconst isReplyAssist = body.isReplyAssist;\nconst memberProfileSelection = body.memberProfileSelection;\nconst groupPersonas = {\n  default: {\n    tone:\n      promptConfig.strings[\"set_persona_policy_0\"],\n    language:\n      promptConfig.strings[\"set_persona_policy_1\"],\n    length:\n      promptConfig.strings[\"set_persona_policy_2\"],\n    memoryRule:\n      promptConfig.strings[\"set_persona_policy_3\"],\n    safety:\n      promptConfig.strings[\"set_persona_policy_4\"],\n  },\n};\n\nconst persona = groupPersonas[body.groupId] ?? groupPersonas.default;\nconst memberProfileContext =\n  selectedMemberProfileMemories.length > 0\n    ? promptConfig.strings[\"set_persona_policy_5\"] + (isReplyAssist ? promptConfig.strings[\"set_persona_policy_6\"] : memberProfileSelection.selectionNote) + (memberProfileSelection.matchedTargetName ? promptConfig.strings[\"set_persona_policy_7\"] + memberProfileSelection.matchedTargetName : \"\") + \"\\n\\n\" + selectedMemberProfileMemories.join(\"\\n\")\n    : memberProfileSelection.selectionNote + promptConfig.strings[\"set_persona_policy_8\"];\nconst replyAssistInstructions = isReplyAssist\n  ? [\n      promptConfig.strings[\"set_persona_policy_9\"],\n      promptConfig.strings[\"set_persona_policy_10\"],\n      promptConfig.strings[\"set_persona_policy_11\"],\n      promptConfig.strings[\"set_persona_policy_12\"],\n      promptConfig.strings[\"set_persona_policy_13\"],\n      promptConfig.strings[\"set_persona_policy_14\"],\n      promptConfig.strings[\"set_persona_policy_15\"],\n      promptConfig.strings[\"set_persona_policy_16\"],\n    ].join(\"\\n\")\n  : \"\";\nconst system = {\n  role: \"system\",\n  content: [\n    promptConfig.strings[\"set_persona_policy_17\"],\n    promptConfig.strings[\"set_persona_policy_18\"] + persona.tone,\n    promptConfig.strings[\"set_persona_policy_19\"] + persona.language,\n    promptConfig.strings[\"set_persona_policy_20\"] + persona.length,\n    promptConfig.strings[\"set_persona_policy_21\"] + persona.memoryRule,\n    promptConfig.strings[\"set_persona_policy_22\"] + persona.safety,\n    promptConfig.strings[\"set_persona_policy_23\"],\n    promptConfig.strings[\"set_persona_policy_24\"],\n    promptConfig.strings[\"set_persona_policy_25\"],\n    promptConfig.strings[\"set_persona_policy_26\"],\n    promptConfig.strings[\"set_persona_policy_27\"],\n    promptConfig.strings[\"set_persona_policy_28\"],\n    promptConfig.strings[\"set_persona_policy_29\"],\n    promptConfig.strings[\"set_persona_policy_30\"],\n    promptConfig.strings[\"set_persona_policy_31\"],\n    promptConfig.strings[\"set_persona_policy_32\"],\n    promptConfig.strings[\"set_persona_policy_33\"],\n    promptConfig.strings[\"set_persona_policy_34\"],\n    promptConfig.strings[\"set_persona_policy_35\"],\n    promptConfig.strings[\"set_persona_policy_36\"],\n    promptConfig.strings[\"set_persona_policy_37\"],\n    promptConfig.strings[\"set_persona_policy_38\"],\n    promptConfig.strings[\"set_persona_policy_39\"],\n    promptConfig.strings[\"set_persona_policy_40\"],\n    promptConfig.strings[\"set_persona_policy_41\"],\n  ].join(\"\\n\"),\n};\nreturn [{ json: { ...body, persona, memberProfileContext, replyAssistInstructions, system } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -624
        ],
        "id": "88491870-b5a6-42e0-a3ca-2251cd378159",
        "name": "set persona policy"
      },
      {
        "parameters": {
          "jsCode": "const body = $json;\nconst fs = require(\"fs\");\nconst PROMPTS_DIR = \"/home/node/.n8n/private-prompts\";\nconst PROMPTS_PATH = PROMPTS_DIR + \"/memory-prompts.json\";\nconst promptConfig = JSON.parse(fs.readFileSync(PROMPTS_PATH, \"utf8\"));\n\nfunction parsePromptMarkdownSections(text) {\n  const sections = {};\n  let currentKey = \"\";\n  for (const line of String(text || \"\").split(/\\r?\\n/)) {\n    const match = line.match(/^##\\s+([A-Za-z0-9_:-]+)\\s*$/);\n    if (match) {\n      currentKey = match[1];\n      sections[currentKey] = \"\";\n      continue;\n    }\n    if (currentKey) {\n      sections[currentKey] += (sections[currentKey] ? \"\\n\" : \"\") + line;\n    }\n  }\n  return Object.fromEntries(\n    Object.entries(sections).map(([key, value]) => [key, value.trim()])\n  );\n}\n\nfor (const fileName of [\n  \"member-profile-selection.md\",\n  \"semantic-memory.md\",\n  \"recent-context.md\",\n  \"persona-policy.md\",\n]) {\n  const filePath = PROMPTS_DIR + \"/\" + fileName;\n  if (fs.existsSync(filePath)) {\n    Object.assign(\n      promptConfig.strings,\n      parsePromptMarkdownSections(fs.readFileSync(filePath, \"utf8\"))\n    );\n  }\n}\nconst memories = body.retrievedMemories ?? [];\nconst selectedMemberProfileMemories = body.selectedMemberProfileMemories ?? [];\nconst memberProfileSelection = body.memberProfileSelection;\nconst shortTermAiTurns = body.shortTermAiTurns ?? [];\nconst recentReplyMessages = body.retrievedRecentReplyContext ?? [];\nconst replyAssistTargetProfile = body.replyAssistTargetProfileRaw ?? null;\nconst isReplyAssist = body.isReplyAssist;\nconst responseModel = body.responseModel;\nconst system = body.system;\nconst memberProfileContext = body.memberProfileContext;\nconst memoryContext = body.memoryContext;\nconst shortTermAiContext = body.shortTermAiContext;\nconst recentReplyContext = body.recentReplyContext;\nconst replyAssistInstructions = body.replyAssistInstructions;\nreturn [\n  {\n    json: {\n      ...body,\n      retrievedMemories: memories,\n      retrievedMemberProfiles: selectedMemberProfileMemories,\n      retrievedMemberProfileSelection: memberProfileSelection,\n      retrievedShortTermAiTurns: shortTermAiTurns,\n      retrievedRecentReplyContext: recentReplyMessages,\n      replyAssistTargetProfile: replyAssistTargetProfile ? {\n        userId: replyAssistTargetProfile.userId,\n        userName: replyAssistTargetProfile.userName,\n      } : null,\n      responseMode: isReplyAssist ? \"reply_assist\" : \"chat\",\n      responseModel,\n      messages: [\n        system,\n        {\n          role: \"user\",\n          content:\n            memberProfileContext +\n            \"\\n\\n\" +\n            memoryContext +\n            \"\\n\\n\" +\n            shortTermAiContext +\n            \"\\n\\n\" +\n            recentReplyContext +\n            (replyAssistInstructions ? \"\\n\\n\" + replyAssistInstructions : \"\") +\n            promptConfig.strings[\"assemble_llm_messages_0\"] +\n            body.text,\n        },\n      ],\n    },\n  },\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          -752
        ],
        "id": "c5a7841b-2769-41b4-b723-5a713532a10a",
        "name": "assemble LLM messages"
      },
      {
        "parameters": {
          "model": "deepseek-v4-flash",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          256,
          -976
        ],
        "id": "5e97e9ce-4a75-41c8-8309-cbc44fa2fc1f",
        "name": "DeepSeek Combined Router Model",
        "credentials": {
          "deepSeekApi": {
            "id": "CsiJm23ij01b9wBt",
            "name": "DeepSeek account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.routingMessages.map(m => m.role.toUpperCase() + \":\\n\" + m.content).join(\"\\n\\n\") }}",
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          256,
          -1152
        ],
        "id": "2b92299c-999c-4cc4-ab36-e96be9ca3e8f",
        "name": "DeepSeek combined router"
      },
      {
        "parameters": {
          "jsCode": "const body = $(\"Webhook\").first().json.body;\nconst result = $(\"qdrant search memory\").first().json.result;\nconst points = Array.isArray(result) ? result : result?.points ?? [];\n\nconst candidates = points\n  .filter((point) => point.payload?.text)\n  .slice(0, 20)\n  .map((point, index) => ({\n    index,\n    qdrantScore: point.score,\n    text: point.payload.text,\n    userName: point.payload.userName,\n    userId: point.payload.userId,\n    timestamp: point.payload.timestamp,\n    type: point.payload.type,\n    groupId: point.payload.groupId,\n  }));\n\nconst routingMessages = [\n  {\n    role: \"system\",\n    content: [\n      \"你是一個 WhatsApp RAG chatbot 的路由及記憶重排模組。\",\n      \"你必須只回傳 JSON，不要使用 markdown，不要加解釋文字。\",\n      \"任務 1：根據使用者問題，重新排序記憶候選項的有用程度。\",\n      \"任務 2：判斷是否需要外部網路搜尋。\",\n      \"不要問自己有沒有訓練資料；只判斷這個問題是否依賴外部資料、近期資料、產品資料、遊戲資料、API/模型/價格/版本/狀態/新聞/附近營業資訊等資料。\",\n      \"需要 search 的情況：最新資訊、新聞、價格、狀態、API、版本、模型比較、產品/服務推薦、介紹遊戲或軟件、查公司/人物/事件、附近/營業/優惠、用戶明確叫你查。\",\n      \"不需要 search 的情況：純聊天、翻譯、改寫、寫文案、普通情緒/社交建議、群內記憶問題、已由群記憶/成員画像回答的問題、創作笑話。\",\n      \"建議類問題要看內容：如果建議依賴最新產品/遊戲/API/價格/新聞/市場資訊就 shouldSearch=true；如果只是人際、文字、日常想法就 false。\",\n      \"query 要是適合 Brave Search 的短查詢，不要包含 @ai，不要太長。\",\n      \"JSON 欄位名稱必須保持英文。\",\n      \"Output shape: {\\\"rerank\\\":{\\\"items\\\":[{\\\"index\\\":0,\\\"score\\\":5,\\\"reason\\\":\\\"short\\\"}]},\\\"webSearch\\\":{\\\"shouldSearch\\\":false,\\\"query\\\":\\\"\\\",\\\"reason\\\":\\\"short\\\"}}\"\n    ].join(\"\\n\"),\n  },\n  {\n    role: \"user\",\n    content: JSON.stringify({\n      question: body.text,\n      memoryCandidates: candidates,\n    }),\n  },\n];\n\nreturn [{ json: { ...$json, memoryRerankCandidates: candidates, routingMessages } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          -1152
        ],
        "id": "0600e8ff-d25a-4750-980d-03f998ebe295",
        "name": "build combined routing prompt"
      },
      {
        "parameters": {
          "jsCode": "const original = $(\"build combined routing prompt\").first().json;\nconst routerOutput = $input.first().json;\nconst raw =\n  routerOutput.text ??\n  routerOutput.output ??\n  routerOutput.response ??\n  routerOutput.message?.content ??\n  routerOutput.choices?.[0]?.message?.content ??\n  \"\";\n\nfunction parseJson(text) {\n  const cleaned = String(text ?? \"\")\n    .replace(/^```json\\s*/i, \"\")\n    .replace(/^```\\s*/i, \"\")\n    .replace(/```$/i, \"\")\n    .trim();\n  return JSON.parse(cleaned);\n}\n\nlet parsed;\ntry {\n  parsed = parseJson(raw);\n} catch (_err) {\n  parsed = {\n    rerank: { items: [] },\n    webSearch: { shouldSearch: false, query: \"\", reason: \"combined-router-parse-failed\" },\n  };\n}\n\nconst byIndex = new Map(\n  original.memoryRerankCandidates.map((candidate) => [candidate.index, candidate])\n);\n\nconst reranked = (parsed.rerank?.items ?? [])\n  .filter((item) => Number(item.score) >= 2)\n  .sort((a, b) => Number(b.score) - Number(a.score))\n  .slice(0, 8)\n  .map((item) => ({\n    candidate: byIndex.get(Number(item.index)),\n    rerankScore: Number(item.score),\n    rerankReason: item.reason,\n  }))\n  .filter((item) => item.candidate);\n\nconst semanticResults = reranked.map((item) => ({\n  score: item.candidate.qdrantScore,\n  rerankScore: item.rerankScore,\n  rerankReason: item.rerankReason,\n  payload: {\n    text: item.candidate.text,\n    userName: item.candidate.userName,\n    userId: item.candidate.userId,\n    timestamp: item.candidate.timestamp,\n    type: item.candidate.type,\n    groupId: item.candidate.groupId,\n  },\n}));\n\nconst webSearch = {\n  shouldSearch: Boolean(parsed.webSearch?.shouldSearch),\n  query: String(parsed.webSearch?.query ? parsed.webSearch.query : (original.body?.text ?? \"\")),\n  reason: String(parsed.webSearch?.reason ?? \"combined-router\"),\n  results: [],\n};\n\nreturn [{ json: { ...original, semanticResults, webSearch, combinedRouterRaw: raw, combinedRouterParsed: parsed } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          592,
          -1152
        ],
        "id": "1e81388c-532b-46db-83fd-07af0cd82d0a",
        "name": "parse combined routing",
        "retryOnFail": false
      },
      {
        "parameters": {
          "content": "#Reranker \nRerank 20 message from qdrant using llm reranker.",
          "height": 372,
          "width": 848,
          "color": 7
        },
        "id": "600906fd-878d-413e-bcd2-9be76f3e8071",
        "name": "layout note memory status1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -80,
          -1232
        ]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "qwen embed question",
              "type": "main",
              "index": 0
            },
            {
              "node": "qdrant scroll profiles",
              "type": "main",
              "index": 0
            },
            {
              "node": "qdrant scroll recent reply context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "prepare memory point",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qwen embed question": {
        "main": [
          [
            {
              "node": "qdrant search memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qdrant search memory": {
        "main": [
          [
            {
              "node": "build combined routing prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare memory": {
        "main": [
          [
            {
              "node": "classify request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "save memory": {
        "main": [
          [
            {
              "node": "return message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare memory point": {
        "main": [
          [
            {
              "node": "qwen embed record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qwen embed record": {
        "main": [
          [
            {
              "node": "qdrant upsert memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "prepare image binary",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Gpt-image2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare image binary": {
        "main": [
          [
            {
              "node": "edit Gpt image2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "edit Gpt image2": {
        "main": [
          [
            {
              "node": "return image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "prepare image error message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gpt-image2": {
        "main": [
          [
            {
              "node": "return image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qdrant scroll profiles": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "needs web search": {
        "main": [
          [
            {
              "node": "Brave Search",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "append web search context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Brave Search": {
        "main": [
          [
            {
              "node": "append web search context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "append web search context": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "prepare image error message": {
        "main": [
          [
            {
              "node": "return message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qdrant scroll recent reply context": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 2
            }
          ]
        ]
      },
      "DeepSeek Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "save memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "prepare memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "qdrant upsert memory": {
        "main": [
          []
        ]
      },
      "classify request": {
        "main": [
          [
            {
              "node": "select member profiles",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "select member profiles": {
        "main": [
          [
            {
              "node": "format semantic memory",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "format semantic memory": {
        "main": [
          [
            {
              "node": "format recent context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "format recent context": {
        "main": [
          [
            {
              "node": "set persona policy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "set persona policy": {
        "main": [
          [
            {
              "node": "assemble LLM messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "assemble LLM messages": {
        "main": [
          [
            {
              "node": "needs web search",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "build combined routing prompt": {
        "main": [
          [
            {
              "node": "DeepSeek combined router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek combined router": {
        "main": [
          [
            {
              "node": "parse combined routing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Combined Router Model": {
        "ai_languageModel": [
          [
            {
              "node": "DeepSeek combined router",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "parse combined routing": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "callerPolicy": "workflowsFromSameOwner",
      "executionTimeout": 600
    },
    "staticData": {},
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "df124c77-c78a-4d51-850a-050a0d6f2e65",
    "activeVersionId": "df124c77-c78a-4d51-850a-050a0d6f2e65",
    "versionCounter": 239,
    "triggerCount": 1,
    "tags": [],
    "shared": [
      {
        "updatedAt": "2026-06-17T13:25:18.367Z",
        "createdAt": "2026-06-17T13:25:18.367Z",
        "role": "workflow:owner",
        "workflowId": "jDBJXokbk9qfD9lt",
        "projectId": "Z7toCA3mXB2u18CY",
        "project": {
          "updatedAt": "2026-05-30T14:07:12.484Z",
          "createdAt": "2026-05-30T14:04:02.666Z",
          "id": "Z7toCA3mXB2u18CY",
          "name": "Kelvin Cheng <kelvincheng213@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "creatorId": "18d57a9b-1818-4a55-8701-32feaf9b99b0"
        }
      }
    ],
    "versionMetadata": null
  }
]